%li.dropdown
  %a.dropdown-toggle{'data-toggle' => 'dropdown'}
    .unselectable 
      Tour
      %b.caret
  %ul.dropdown-menu
    %li=link_to 'Archery', '/tour/archery.html'
    %li=link_to 'Barn', '/tour/barn.html'
    %li=link_to 'Cabins', '/tour/cabins.html'
    %li=link_to 'Centennial Lodge', '/tour/centennial-lodge.html'
    %li=link_to 'Challenge Course', '/tour/challenge-course.html'
    %li=link_to 'Craft Areas', '/tour/craft-areas.html'
    %li=link_to 'Dining Hall', '/tour/dining-hall.html'
    %li=link_to 'Farmhouse', '/tour/farmhouse.html'
    %li=link_to 'Infirmary', '/tour/infirmary.html'
    %li=link_to 'Outdoorsman Skills', '/tour/outdoorsman-skills.html'
    %li=link_to 'Riflery &amp; Skeet', '/tour/riflery-skeet.html'
    %li=link_to 'Sports', '/tour/sports.html'
    %li=link_to 'The Knoll', '/tour/knoll.html'
    %li=link_to 'Waterfront', '/tour/waterfront.html'
    %li=link_to 'Wilderness Trips', '/tour/wilderness-trips.html'
