.grid_5
  .liner.shadow.rounded
    %h2 Archery

    %p
      We have one of the best archery programs among summer camps in the area.
      With a covered range and two massive cabinets to store our myriad of gear,
      the capacity to have 16 shooters at a time, and the ability to shoot at a
      range of up to 40 meters, our range provides a comfortable place for instruction
      and a home to our undefeated archery team.

.grid_7
  .shadow.rounded.video= vimeo 31092796, 536
