---
title: "Summer Camp Archery at William Lawrence Camp for Boys"
description: "At William Lawrence Camp our archery program caters to both novices and experts in a top of the line covered range.  During week-long instructional classes boys can learn how to shot like experts, taught by at least two trained archery instructors for a class of ten children.  And during free swim, boys can shoot for fun and qualifications."
---

.grid_5
  .liner.shadow.rounded
    %h2 Archery

    %p
      We have one of the best archery programs among summer camps in the area.
      With a covered range and two massive cabinets to store our myriad of gear,
      the capacity to have 16 shooters at a time, and the ability to shoot at a
      range of up to 40 meters, our range provides a comfortable place for instruction
      and a home to our undefeated archery team.

.grid_7
  .shadow.rounded.video= vimeo 31092796, 7
