.grid_7
  .slideshow
    %img.rounded.shadow{ :src => "/images/tour/volleyball.jpg" }
    %img.rounded.shadow{ :src => "/images/tour/street-hockey.jpg" }
    %img.rounded.shadow{ :src => "/images/tour/basketball-court.jpg" }

.grid_5
  .liner.shadow.rounded
    %h2 Athletic Courts

    %p
      Two basketball courts, three volleyball courts, brand new street hockey
      and arena soccer courts, and a recently re-topped and painted tennis courts
      provide unbeatable surfaces for campers to develop their skills, win a game, or just have some fun.
