- content_for :subnavigation do
  = partial 'tour/subnavigation'

.grid_5
  .liner.shadow.rounded
    %h2 Athletic Fields

    %p
      Our Athletic fields are well maintained and versatile;
      they’re used for everything from soccer, baseball and lacrosse to touch rugby and capture the flag.
