---
title: "The Barn, Dodge Ball and Other Activities | William Lawrence Boys Summer Camp"
description: "The camp's barn is an all around activity area used season long regardless of weather.  It provides a great place for dances for our senior campers as well.  It was recently renovated as part of the Centennial Campaign."
---
.row
  .col-sm-6
    .liner.shadow.rounded
      %h2 The Barn

      %p
        Our Barn is an important area to camp as it provides the ideal location for
        various #{link_to 'Evening Programs', '/campers/evening-program'}, a large game
        room and, in case of inclement weather, a gymnasium for indoor sports. The Barn
        dates back to before the founding of the camp and is an important part of the
        #{link_to 'camps heritage', '/tradition/history'}. The Barn was recently refurbished
        as part of the Centennial Campaign to improve its flexibility and usability for
        the next generation of campers.

  .col-sm-6
    %img.shadow.rounded{ src: '/images/tour/barn-outside.jpg', height: 308, width: 460, alt: "the camp's barn after the completion of a large amount of construction" }

