---
title: "The Barn, Dodge Ball and Other Activities at William Lawrence Camp for Boys"
description: "The camp's barn is an all around activity area used season long regardless of weather.  It provides a great place for dances for our senior campers as well.  It was recently renovated as part of the Centennial Campaign."
---

.grid_6
  .liner.shadow.rounded
    %h2 The Barn
    
    %p
      Our Barn is an important area to camp as it provides the ideal location for various Evening Programs and a backup in case of claimant weather.  Recently the Barn was refurbished as part of the Centennial Campaign to improve its flexibility and usability.

.grid_6
  %img.shadow.rounded{ src: '/images/tour/barn-outside.jpg', height: 308, width: 460, alt: "Barn after the completion of a large amount of construction" }
  
