---
title: "Cabin Life | William Lawrence Traditional Camp"
description: "William Lawrence Overnight Camp's screened in cabins making living at camp comfortable while still allowing boys to be close to nature."
---
.row
  .col-sm-7
    .shadow.rounded.embed-responsive.embed-responsive.embed-responsive-16by9.video= vimeo 31094298, 7

  .col-sm-5
    .liner.shadow.rounded
      %h2 Cabins

      %p
        Campers live in screened cabins separated into the
        Junior, Middler, and Senior units. Campers are assigned
        to units based on their grade in school.
        Each unit has its own bath house, and counselors
        live in the cabins with the campers in separate quarters.
