---
title: "Overnight Summer Camp Cabins at William Lawrence Camp for Boys"
---

.grid_7
  .shadow.rounded.video= vimeo 31094298, 7

.grid_5
  .liner.shadow.rounded
    %h2 Cabins

    %p
      Campers live in screened cabins separated into the
      Junior, Middler, and Senior units. Campers are assigned
      to units based on their grade in school.
      Each unit has its own bath house, and counselors
      live in the cabins with the campers in separate quarters.
