---
title: "Centennial Lodge at William Lawrence Camp for Boys"
description: "The new Centennial Lodge is a beautiful new addition to camp.  It is an activity area used for meetings, games, program, skits, and as the camp store."
---

.grid_6
  .liner.shadow.rounded
    %h2 Centennial Lodge

    %p
      The Centennial Lodge is a new, beautifully constructed activity area that features a large hall with
      a stage and a basement that houses the new Camp Store and a well equipped weight room.  There are
      plans to #{link_to 'finish the basement', '/alumni/charitable-giving'} in the near future to provide
      dedicated areas for fly tying, a camp museum, a costume room for skits and the
      #{link_to 'Braves Honor Society','/tradition/braves'}.  The views of area lakes and mountains from
      the Lodge's deck are unbelievable, as they are in most of camp.

.grid_6
  %img.shadow.rounded{ src: '/images/tour/centennial-lodge.jpg', height: 308, width: 460, alt: "inside of the centennial lodge." }
