---
title: "Centennial Lodge at William Lawrence Camp for Boys"
---

.grid_6
  .liner.shadow.rounded
    %h2 Centennial Lodge
    
    %p
      The Centennial Lodge is a new, beautifully constructed activity area that features a large hall with a stage and a basement that house the new Camp Store.  There are plans to finish the basement in the near future to provide dedicated areas for the camp's fitness equipment and an area for fly tying.

.grid_6
  %img.shadow.rounded{ src: '/images/tour/centennial-lodge.jpg', height: 308, width: 460, alt: "Barn after the completion of a large amount of construction" }