.grid_6
  .liner.shadow.rounded
    %h2 Challenge Course
    
    %p
      Our Challenge Course boasts a climbing tower atop the knoll
      with stunning views, a low ropes course to build team work skills,
      as well as a top-notch high ropes course.
      We built our whole challenge course ourselves so you won&rsquo;t find
      anyone who knows their course like we do ours!

  .shadow.rounded.video= vimeo 31705687, 456

  .liner.shadow.rounded
    %h2 High Ropes

    %p
      Take a leap from the Shiver Pole, battle the Gauntlet, or ascend the Vertical Playpen,
      and don&rsquo;t worry about falling &mdash; we&rsquo;ll catch you.

  .shadow.rounded.video= vimeo 31092396, 456

.grid_6
  .shadow.rounded.video= vimeo 31094699, 456

  .liner.shadow.rounded
    %h2 Low Ropes

    %p
      Our low ropes course is filled with different elements to help build
      your skills in teamwork and problem solving. Even low to the ground,
      there&rsquo;s tons of fun to be had.

  .shadow.rounded.video= vimeo 31655063, 456

  .liner.shadow.rounded
    %h2 Climbing Tower

    %p
      The fifty-foot tower offers three sides to climb and the top provides the
      best view in all of camp. See if you can climb all the routes!
