---
title: "High Ropes, Low Ropes and Climbing Wall | William Lawrence Traditional Camp for Boys"
description: "At William Lawrence Camp, our challenge course boasts a climbing tower, a low ropes course to build teamwork skills, and a top-notch high ropes course.  All of which were built by our staff under the direction of certified professionals and it is certified every year to ensure the up most level of safety."
---

.row
  .col-sm-5
    .liner.shadow.rounded
      %h2 Challenge Course
      
      %p
        Our Challenge Course boasts a climbing tower atop the knoll
        with stunning views, a low ropes course to build team work skills,
        as well as a top-notch high ropes course.
        We built our whole challenge course ourselves so you won&rsquo;t find
        anyone who knows their course like we do ours!

  .col-sm-7
    .shadow.rounded.embed-responsive.embed-responsive.embed-responsive-16by9.video= vimeo 31094699, 6

.row
  .col-sm-7
    .shadow.rounded.embed-responsive.embed-responsive.embed-responsive-16by9.video= vimeo 31705687, 6
  .col-sm-5
    .liner.shadow.rounded
      %h2 Low Ropes

      %p
        Our low ropes course is filled with different elements to help build
        your skills in teamwork and problem solving. Even low to the ground,
        there&rsquo;s tons of fun to be had.

.row
  .col-sm-5
    .liner.shadow.rounded
      %h2 High Ropes

      %p
        Take a leap from the Shiver Pole, battle the Gauntlet, or ascend the Vertical Playpen,
        and don&rsquo;t worry about falling &mdash; we&rsquo;ll catch you.
  .col-sm-7
    .shadow.rounded.embed-responsive.embed-responsive.embed-responsive-16by9.video= vimeo 31655063, 6

  
.row
  .col-sm-7
    .shadow.rounded.embed-responsive.embed-responsive.embed-responsive-16by9.video= vimeo 31092396, 6
  .col-sm-5
    .liner.shadow.rounded
      %h2 Climbing Tower

      %p
        The fifty-foot tower offers three sides to climb and the top provides the
        best view in all of camp. See if you can climb all the routes!
  