.grid_6
  %img.rounded.shadow{ :src => "/images/tour/woodworking.jpg" }

.grid_6
  .liner.shadow.rounded
    %h2 Craft Areas

    %p
      Our woodworking shop has all the tools necessary for campers to
      express themselves in pine and ply while the Arts & Crafts
      area hosts rocketry and fly tying, as well as traditional crafting activities.
