---
title: "Arts & Crafts and Woodworking | William Lawrence Camp"
description: "William Lawrence Camp provides a variety of craft areas from word working to traditional arts and crafts and even fly tying.  Make a necklace, a box, a canoe paddle, or an intricate fish lure."
---

.grid_6
  .liner.shadow.rounded
    %h2 Craft Areas

    %p
      Some prefer to make something with their hands whether it be of pine,
      hemp, or feathers. We can teach you how to do much more than just the
      traditional arts and crafts, such as fly tying and wood working.

  .shadow.rounded.video= vimeo 31093192, 6

  .liner.shadow.rounded
    %h2 Woodworking

    %p
      Our well-stocked woodworking shop has enough material for anyone to
      undertake a reasonable project and the expertise to help you along
      the way in making your wooden masterpiece.

.grid_6
  .shadow.rounded.video= vimeo 31651095, 6

  .liner.shadow.rounded
    %h2 Arts &amp; Crafts

    %p
      Hemp necklaces, gimp, kites, and much more are available for anyone
      to make in the arts and crafts room. But, if stationary crafts are
      not your cup of tea, you can build your own model rocket and launch it far above the trees!

  .shadow.rounded.video= vimeo 33133431, 6
