.grid_5
  .liner.shadow.rounded
    %h2 Dining Hall

    %p
      The camp meets three times a day to indulge
      in the incredible food provided by our camp chef,
      and to relish in the camp spirit.
      Our mealtimes are energetic, peppered with songs,
      chants, and a healthy boisterous attitude.

.grid_7
  %img.shadow.rounded{ :src => '/images/tour/dining-hall.jpg', :width => 540 }
