---
title: "Dining Hall Serves A Healthy Diet With a lot of Camp Spirit | William Lawrence Overnight Summer Camp for Boys"
description: "The dining hall is the heart of William Lawrence Overnight Camp for boys.  Its a wonderful place for cabins to bond together by sharing a healthy meal and chanting to their hearts content."
---

.grid_6
  .liner.shadow.rounded
    %h2 Dining Hall

    %p
      The camp meets three times a day to indulge
      in the incredible food provided by our camp chef,
      == and to relish in the #{link_to 'camp spirit', '/campers/camp-spirit.html'}.
      Our mealtimes are energetic, peppered with songs,
      chants, and a healthy boisterous attitude.

.grid_6
  .shadow.rounded.video= vimeo 31652494, 6
