.grid_6
  .liner.shadow.rounded
    %h2 Dining Hall

    %p
      The camp meets three times a day to indulge
      in the incredible food provided by our camp chef,
      == and to relish in the #{link_to 'camp spirit', '/campers/camp-spirit.html'}.
      Our mealtimes are energetic, peppered with songs,
      chants, and a healthy boisterous attitude.

.grid_6
  .shadow.rounded.video
    %iframe{ :src => 'http://player.vimeo.com/video/31652494?title=0&byline=0&portrait=0', width: 456, height: 324, frameborder: 0, webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true }
