.grid_6
  .liner.shadow.rounded
    %h2 Dining Hall

    %p
      The camp meets three times a day to indulge
      in the incredible food provided by our camp chef,
      == and to relish in the #{link_to 'camp spirit', '/campers/camp-spirit.html'}.
      Our mealtimes are energetic, peppered with songs,
      chants, and a healthy boisterous attitude.

.grid_6
  .shadow.rounded.video= vimeo 31652494, 456
