- content_for :subnavigation do
  = partial 'tour/subnavigation'

.grid_6
  .liner.shadow.rounded
    %h2 Farmhouse

    %p
      The Farmhouse is home to the Camp's year round administrative
      offices in addition to the Library, Recreation room, Arts and Crafts,
      Camp Store, and senior staff housing. The structure itself dates
      back to the original owner of the land, the farming family Copp,
      thus is a building rich with tradition and character.
      Our Library houses plaques which catalogue past campers and staff members,
      as well as those who have earned the right to be called a Brave.
      In addition to the décor, the Library has a large number of books
      available for campers to borrow and read at their leisure.
      The Recreation room has a pool table, two fooz ball tables,
      as well as a cabinet full of board games.

.grid_6
  %img.shadow.rounded{ :src => '/images/tour/library.jpg', :width => 460 }
