.grid_6
  .liner.shadow.rounded
    %h2 Farmhouse

    %p
      The Farmhouse is home to the Camp&rsquo;s year-round administrative
      == offices in addition to the Library, Recreation room, #{link_to 'Arts &amp; Crafts', '/tour/craft-areas.html'},
      Camp Store, and senior staff housing. The structure itself dates
      == back to the #{link_to 'original owner', '/tradition/history.html'} of the land, the farming family Copp.
      Thus it is a building rich with tradition and character.
      Our Library houses plaques which catalogue past campers and staff members,
      == as well as those who have earned the right to be called a #{link_to 'Brave', '/tradition/braves.html'}.
      In addition to the decor, the Library has a large number of books
      available for campers to borrow and read at their leisure.
      The Recreation room has a pool table, two fooz ball tables,
      as well as a cabinet full of board games.

.grid_6
  %img.shadow.rounded{ :src => '/images/tour/library.jpg', :width => 460 }
