---
title: "Summer Camp Safety Comes First at William Lawrence Overnight Summer Camp for Boys"
description: "William Lawrence Camp's infirmary is staffed 24/7 with a registered nurse for the safety and well-being of campers."
---

.grid_7
  .liner.shadow.rounded
    %h2 Infirmary

    %p
      Our registered camp nurse lives in the Infirmary all summer,
      ready to care for any and all injuries and ailments.
      == It is located at the bottom of the #{link_to 'Knoll', '/tour/knoll.html'},
      == next to the #{link_to 'Farmhouse', '/tour/farmhouse.html'}.
      We are a short 15 minute ride to the hospital should the need arise.
