- content_for :subnavigation do
  = partial 'tour/subnavigation'

.grid_7
  .liner.shadow.rounded
    %h2 The Knoll

    %p
      The Knoll is the hub of all the energy here at camp.
      From its crest you can enjoy fabulous views of Lake Winnipesaukee
      and the foothills of the White Mountains.
      Come take a seat in our chapel and see what we mean!
.grid_4
  %img.shadow.rounded{ :src => '/images/tour/knoll.jpg', :width => 380 }
