.grid_6
  .liner.shadow.rounded
    %h2 Outdoorman Skills

    %p
      Want to learn about the outdoors? We’re ready to teach
      you the skills that you’ll need. You can learn to shoot rifles,
      shotguns and the classic bow and arrow. We will also teach you
      fly fishing and fly tying skills, and then how to build the fire
      to cook your catch, and how to build a shelter to sleep in at night.
      Come on and become a woodsman.

  .shadow.rounded.video.space
    %iframe{ :src => 'http://player.vimeo.com/video/33133339?title=0&byline=0&portrait=0', :width => 456, :height => 324 }

  .liner.shadow.rounded.space
    %h2 Fly-fishing &amp; Fly-tying

    %p
      Learn how to outsmart a fish with a well-tied fly and the perfect cast:
      we’ll help you learn the storied art of fly fishing, to prepare you to
      tackle the rivers and streams of the world on your own.

.grid_6
  .shadow.rounded.video
    %iframe{ :src => 'http://player.vimeo.com/video/31705740?title=0&byline=0&portrait=0', :width => 456, :height => 324 }

  .liner.shadow.rounded.space
    %h2 Wilderness Skills

    %p
      Want to learn how to survive in the wild? We’ll teach you how to build
      a fire and start it with flint and steel, and how to identify plants and animals.
      You can even build a shelter out of branches and leaves to stay in overnight.
      Making s'mores outside a shelter you built yourself? What could be better!

  .shadow.rounded.video.space
    %iframe{ :src => 'http://player.vimeo.com/video/31654239?title=0&byline=0&portrait=0', :width => 456, :height => 324 }
