.grid_7
  .liner.shadow.rounded
    %h2 Riflery &amp; Skeet

    %p
      Our Riflery and Skeet ranges are both competition quality.
      Located just down the hill from the farmhouse,
      they are easy to access and, due to their covered nature,
      are comfortable in any weather.

.grid_5
  .slideshow
    %img.rounded.shadow{ :src => "/images/tour/riflery.jpg", :width => 380 }
    %img.rounded.shadow{ :src => "/images/tour/skeet.jpg", :width => 380 }
