.grid_12
  .liner.shadow.rounded
    %h2 Riflery &amp; Skeet

    %p
      Our Riflery and Skeet ranges are both competition quality.
      Located just down the hill from the farmhouse, they are easy to access and,
      due to their covered nature, are comfortable in any weather.

.grid_6
  .liner.shadow.rounded.space
    %h3 Riflery

    %p
      Our rifle range is cool and comfortable; a great place to learn how
      to shoot or continue work on your technique. Shoot for your qualifications
      and see if you can score that perfect 50.

  .shadow.rounded.video.space
    %iframe{ :src => 'http://player.vimeo.com/video/34306609?title=0&amp;byline=0&amp;portrait=0', :width => 456, :height => 330 }
.grid_6
  .shadow.rounded.video.space
    %iframe{ :src => 'http://player.vimeo.com/video/31705755?title=0&amp;byline=0&amp;portrait=0', :width => 456, :height => 330 }

  .liner.shadow.rounded.space
    %h3 Skeet

    %p
      Come on down to shoot some pigeons with shotguns. Clay pigeons, of course,
      but you still learn how to shoot and handle a shotgun properly. <em>Trapper ready? Pull!</em>
