.grid_12
  .liner.shadow.rounded
    %h2 Riflery &amp; Skeet

    %p
      Our Riflery and Skeet ranges are both competition quality.
      == Located just down the hill from the #{link_to 'Farmhouse', '/tour/farmhouse.html'},
      they are easy to access and, due to their covered nature,
      are comfortable in any weather.

.grid_6
  .liner.shadow.rounded
    %h2 Riflery

    %p
      Our rifle range is cool and comfortable; a great place to learn how
      to shoot or continue work on your technique. Shoot for your qualifications
      and see if you can score that perfect 50.

  .shadow.rounded.video= vimeo 34306609, 456
.grid_6
  .shadow.rounded.video= vimeo 31705755, 456

  .liner.shadow.rounded
    %h2 Skeet

    %p
      Come on down to shoot some pigeons with shotguns. Clay pigeons, of course,
      but you still learn how to shoot and handle a shotgun properly. <em>Trapper ready? Pull!</em>
