.grid_6
  .liner.shadow.rounded
    %h2 Sports

    %p
      When it comes to sports, were not aiming to make you into the next
      Michael Jordan or Ronaldo: we just want you to have a ton of fun
      playing lacrosse, street hockey, or one of a dozen other sports offered,
      while learning something new about it at the same time. Everybody gets
      to play here, so if you’re looking to learn more about a sport you've
      never played before or if you’re a seasoned pro you will have fun and,
      hopefully learn something new.

  .shadow.rounded.video.space
    %iframe{ :src => 'http://player.vimeo.com/video/31092949?title=0&byline=0&portrait=0', :width => 456, :height => 324 }

  .liner.shadow.rounded.space
    %h2 Street Hockey

    %p
      Take a slap shot, play a scrimmage, practice your passing: at our top-notch
      Street Hockey court, you can do it all. We’ll teach you anything you want to
      know about the fast-paced game of Street Hockey, no matter what your previous skill level;
      so shoot away, you can't miss!

  .shadow.rounded.video.space
    %iframe{ :src => 'http://player.vimeo.com/video/32745011?title=0&byline=0&portrait=0', :width => 456, :height => 324 }

  .liner.shadow.rounded.space
    %h2 Baseball

    %p
      We’ve got two basketball courts to play on; after flag lowering, there's usually
      a huge game of Knockout on the Knoll. We’ll be more than happy to teach you anything
      you want to know, or just jump into a pickup game.

  .shadow.rounded.video.space
    %iframe{ :src => 'http://player.vimeo.com/video/31702778?title=0&byline=0&portrait=0', :width => 456, :height => 324 }

  .liner.shadow.rounded.space
    %h2 Volleyball

    %p
      Never played before? No problem: we'll have you digging and spiking in no time.
      Our sand volleyball courts kept the impact low, and the spirit high—so serve
      it up, we’re always ready to volley.

  .shadow.rounded.video.space
    %iframe{ :src => 'http://player.vimeo.com/video/32744751?title=0&byline=0&portrait=0', :width => 456, :height => 324 }

  .liner.shadow.rounded.space
    %h2 International Sports

    %p
      Every played Touch Rugby before? How about Cricket? If not, then here's your opportunity.
      Our international staff are ready and waiting to teach you games that we play on this side
      of the pond — you may find you’ve been missing out.

.grid_6
  .shadow.rounded.video
    %iframe{ :src => 'http://player.vimeo.com/video/32744798?title=0&byline=0&portrait=0', :width => 456, :height => 324 }

  .liner.shadow.rounded.space
    %h2 Arena Soccer

    %p
      Our brand new arena soccer court is home to our unique arena soccer program.
      Offered as and instructional class, the focus is to use tight ball handling skills
      and the arena walls themselves to best the other team.

  .shadow.rounded.video.space
    %iframe{ :src => 'http://player.vimeo.com/video/32744962?title=0&byline=0&portrait=0', :width => 456, :height => 324 }

  .liner.shadow.rounded.space
    %h2 Tennis

    %p
      Our tennis courts are a great place to work on your serve, practice volleys at the net,
      or just play a round of King of the Court. We’ve got a brand new wall to practice
      rallying by yourself, and, if you want, we can bring out the Pickleball for a whole different type of game.

  .shadow.rounded.video.space
    %iframe{ :src => 'http://player.vimeo.com/video/31093270?title=0&byline=0&portrait=0', :width => 456, :height => 324 }

  .liner.shadow.rounded.space
    %h2 LaCrosse

    %p
      Even if you have never touched a stick before, our instructors have the
      experience to get you passing, shooting, and defending in no time at all.
      In just a single afternoon you will have already learned the basics and
      moved on to more important things: having fun!

  .shadow.rounded.video.space
    %iframe{ :src => 'http://player.vimeo.com/video/32745061?title=0&byline=0&portrait=0', :width => 456, :height => 324 }

  .liner.shadow.rounded.space
    %h2 Soccer

    %p
      We're ready to help you learn all about the world’s favorite sport.
      With a round of World Cup or a game against another camp, you'll
      have every chance you want to work on your game. Take a run out
      onto the pitch; we'll be right beside you.

  .shadow.rounded.video.space
    %iframe{ :src => 'http://player.vimeo.com/video/31702746?title=0&byline=0&portrait=0', :width => 456, :height => 324 }
