.grid_6
  .liner.shadow.rounded
    %h2 Waterfront

    %p
      Our Waterfront has a half-mile of frontage on quiet Lower Beech Pond.
      We have a fleet of sailboats, canoes, kayaks and rowboats, a competition water-ski boat,
      a top-quality swimming area, fishing equipment and a volleyball court for those taking a break from the water.

  .shadow.rounded.video.space
    %iframe{ :src => 'http://player.vimeo.com/video/32745105?title=0&amp;byline=0&amp;portrait=0', :width => 456, :height => 330 }

  .liner.shadow.rounded.space
    %h3 Fishing

    %p
      Come on down, sit in a drift boat by the shore, and throw a line out into the well stocked
      waters of Lower Beech Pond. Catch a bass or a trout and our chef will cook it for your dinner!

  %img.shadow.rounded.space{ :src => '/images/tour/waterfront/sailing.jpg', :width => 460 }

  .liner.shadow.rounded.space
    %h3 Canoing &amp; Kayaking

    %p
      Anything you want to learn about canoeing or kayaking, we can teach you.
      Forward strokes, t-rescues, and for the intrepid few, we’ll teach you how to Eskimo roll a kayak.

  %img.shadow.rounded.space{ :src => '/images/tour/waterfront/swimming.jpg', :width => 460 }

.grid_6
  .shadow.rounded.video
    %iframe{ :src => 'http://player.vimeo.com/video/32745079?title=0&amp;byline=0&amp;portrait=0', :width => 456, :height => 330 }

  .liner.shadow.rounded.space
    %h3 Waterskiing

    %p
      Come learn to water-ski, or work on your slalom technique behind our new Malibu
      competition water-ski boat— and watch out for the wake!

  %img.shadow.rounded.space{ :src => '/images/tour/waterfront/fishing.jpg', :width => 460 }

  .liner.shadow.rounded.space
    %h3 Sailing

    %p
      With a total of 17 sailboats including sunfish, catamarans, dingies, Hobie-cats,
      and puffers to name a few. With instruction and as much as four hours a day on the lake,
      you will have the opportunity to unleash your inner pirate.

  %img.shadow.rounded.space{ :src => '/images/tour/waterfront/kayaking.jpg', :width => 460 }

  .liner.shadow.rounded.space
    %h3 Swimming

    %p
      We'll help you work on your strokes every morning down at the waterfront,
      overseen by our red cross certified instructors. During free swim, in the afternoon,
      you’re free to float around in tubes, splash about, or even go down our twelve foot waterslide!
