---
title: "Camping Trips, Day Hikes and Canoeing Trips at William Lawrence Summer Camp for Boys"
description: "William Lawrence Camp is a traditional overnight summer camp for boys in Center Tuftonboro, New Hampshire.  Our tipping program gives campers a chance to get out of camp for a few days on a variety of hiking and canoeing wilderness trips."
---

.grid_6
  .liner.shadow.rounded
    %h2 Wilderness Trips

    %p
      Our tripping program is run out of our outcamping building
      which holds all the necessary equipment to run successful forays into the outdoors.
      We pride ourselves on our vast tripping program, boasting as many as nine trips
      a session consisting of both hiking and canoeing trips.

  .shadow.rounded.video= vimeo 31094607, 6

  .liner.shadow.rounded
    %h2 Hiking Trips

    %p
      Take a walk up Chocorua for panoramic views of the White Mountains,
      or battle the elements up the mighty Mt. Washington: no matter what,
      you are sure to feel elevated!

  %img.shadow.rounded{ :src => '/images/tour/wilderness-trips/day-hikes.jpg', :width => 460 }

.grid_6
  .shadow.rounded.video= vimeo 33133362, 6

  .liner.shadow.rounded
    %h2 Canoeing Trips

    %p
      Glide across the scenic waters of Squam Lake, or test yourself against the rapids of the
      Androscoggin River. There is no better way to travel and experience the wilderness than by canoe.

  .shadow.rounded.video= vimeo 31655114, 6

  .liner.shadow.rounded
    %h2 Day Hikes

    %p
      Even the Juniors get into the outdoors! They take a day hike up Mt. Major or Bald Knob and,
      as a cabin, they embark on a journey across the great Lower Beech Pond to stay the night
      in the camp&rsquo;s own lean-to at Perch Point. S&rsquo;mores included!
