---
title: "Centennial Celebration, celebrating tradition"
---

.grid_6
  .liner.shadow.rounded
    %h2 Centennial Celebration

    %p
      The WLC Centennial Celebration went off without a hitch on Labor Day Weekend, 2013.  Over 350 guests and staff gathered on the Knoll of the three-day reunion that showcased the centennial Lodge, the refurbished Barn, and a chance for guests to participate in their favourite activities.

  %img.shadow.rounded{ :src => '/images/tour/knoll.jpg', :width => 380 }

  .liner.shadow.rounded
    %h2 New Centennial Hall

    %p
      Thanks to the wildly successfully fund-raising campaign, the Centennial Lodge we built in time not only for the Centenial Celebration, but for the entire 101st season.  While we are still #{link_to "raising funds", "/alumni/charitable-giving.html"} to finish the basement, the main hall has already become a critical part of regular programs.

  %img.shadow.rounded{ :src => '/images/tour/knoll.jpg', :width => 380 }


.grid_6
  %img.shadow.rounded{ :src => '/images/tour/knoll.jpg', :width => 380 }

  .liner.shadow.rounded
    %h2 Festivities

    %p
      had a lot of fun... text to fill up space text to fill up space text to fill up space text to fill up space text to fill up space text to fill up space text to fill up space text to fill up space text to fill up space text to fill up space text to fill up space text to fill up space

  %img.shadow.rounded{ :src => '/images/tour/knoll.jpg', :width => 380 }
  
  .liner.shadow.rounded
    %h2 New Barn

    %p
      We got a new Barn!!! text to fill up space text to fill up space text to fill up space text to fill up space text to fill up space text to fill up space text to fill up space text to fill up space text to fill up space text to fill up space text to fill up space text to fill up space


