---
title: "Centennial Celebration, celebrating tradition"
---

.grid_6
  .liner.shadow.rounded
    %h2 Centennial Celebration

    %p
      The WLC Centennial Celebration went off without a hitch on Labor Day Weekend, 2013.  Over 350 guests and staff gathered on the Knoll of the three-day reunion that showcased the centennial Lodge, the refurbished Barn, and a chance for guests to participate in their favorite activities and reminisce about their time at camp.

  %img.shadow.rounded{ :src => '/images/tour/knoll.jpg', :width => 380 }

  .liner.shadow.rounded
    %h2 New Centennial Hall

    %p
      Thanks to the generosity of alumni and friends of the camp, the Centennial Lodge was built not only in time for the Centennial Celebration, but for the entire 101st season.  The main hall has already become an important activity area.  We are still #{link_to "raising funds", "/alumni/charitable-giving.html"} to finish the basement to provide new areas for weight lifting, fly tying, and arts and crafts. 

  %img.shadow.rounded{ :src => '/images/tour/knoll.jpg', :width => 380 }


.grid_6
  %img.shadow.rounded{ :src => '/images/tour/knoll.jpg', :width => 380 }

  .liner.shadow.rounded
    %h2 Festivities

    %p
      The goal of the Centennial weekend was to not only celebrate the completion of the improvements around camp, but to give alumni a chance to reunite, share stories across generations, enjoy their favorite activities, and revel in the camp spirit.

  %img.shadow.rounded{ :src => '/images/tour/knoll.jpg', :width => 380 }
  
  .liner.shadow.rounded
    %h2 New Barn

    %p
      Because the generous response to our fund raising, the Board of Trustees decided to expand their initial goal to fund a much needed rehabilitation project for the beloved Barn.  No longer are seniors able to break the barn during their bi-annual dance. 


