%li.dropdown
  %a.dropdown-toggle{'data-toggle' => 'dropdown'}
    .unselectable 
      Alumni
      %b.caret
  %ul.dropdown-menu
    %li=link_to 'Alumni Camp', '/alumni/alumni-camp.html'
    %li=link_to 'Centennial', '/alumni/centennial-celebration.html'
    %li=link_to 'Charitable Giving', '/alumni/charitable-giving.html'
    %li=link_to 'Lost Larrys', '/alumni/lost-larrys.html'
    %li=link_to 'WLC vs. FDL', '/alumni/wlc-vs-fdl.html'
    %li=link_to 'Plaques', '/alumni/plaques.html'
