.container_12
  .grid_2== &raquo; #{link_to_unless_current 'Charitable Giving', '/alumni/charitable-giving.html'}
  .grid_2== &raquo; #{link_to_unless_current 'Lost Larrys', '#'}
  .grid_2== &raquo; #{link_to_unless_current 'WLC vs. FDL', '/alumni/wlc-vs-fdl.html'}
