---
title: "Alumni Camp | William Lawrence Summer Camp for Boys"
description: "Alumni camp at William Lawrence camp is a unique experiences for our alumni to come back to camp and enjoy all that camp has to offer once again."
---

.grid_7
  .liner.shadow.rounded
    %h2 Alumni Camp

    %p
      Just because traditional camp ends, it doesn&rsquo;t mean camp is over!
      Every year in August we open up camp for our alumni so they can come back,
      meet old friends, and have fun doing their old favorite activities again.
    %p
      We&rsquo;ll have all the activities of regular camp open for the long
      weekend from Thursday to Sunday. Our cabins will be available for families
      or you can bunk with your friends from your days on the knoll! All meals
      will be provided and served in the dining hall by our talented chef
      &mdash; of course chanting will be compulsory.
    %p
      The fee for the weekend is flat per person and is all inclusive of food,
      activities, and fun. For more details, please call the office at
      603-569-3698.
