---
title: "Centennial Celebration | William Lawrence Camp"
description: "On the Labor Day Weekend, 2013, the family of William Lawrence Camp celebrated our 100th season.  We completed our beautiful Centennial Lodge and refurbished the camps Barn by using the generous donations from our friends and alumni."
---

.row
  .col-sm-6
    .liner.shadow.rounded
      %h2 Centennial Celebration

      %p
        The WLC Centennial Celebration went off without a hitch on Labor Day Weekend, 2013.
        Over 350 guests and staff gathered on the Knoll for the three-day reunion that showcased
        the Centennial Lodge, the refurbished Barn, and a chance for guests to participate in
        their favorite activities and reminisce about their time at camp.
  .col-sm-6
    %img.shadow.rounded{ :src => '/images/alumni/centennial-stage.jpg', :alt => "Centennial hall stage during ribbon cutting ceremony" }


.row
  .col-sm-6
    %img.shadow.rounded{ :src => '/images/alumni/centennial-deck.jpg', :alt => "Centennial Hall Deck during celebration"}
  .col-sm-6
    .liner.shadow.rounded
      %h2 Festivities

      %p
        The goal of the Centennial Weekend was not only to celebrate the completion of the improvements
        around camp, but to give alumni a chance to reunite, share stories across generations, enjoy their
        favorite activities, and revel in the camp spirit.


.row
  .col-sm-6
    .liner.shadow.rounded
      %h2 New Centennial Lodge

      %p
        Thanks to the generosity of alumni and friends of the camp, the Centennial Lodge was built
        in time for the Celebration.  The main hall has already become an important activity area.
        We are still #{link_to "raising funds", "/alumni/charitable-giving.html"} to finish the
        basement to provide new areas for weight lifting, fly tying, and arts and crafts.

  .col-sm-6
    %img.shadow.rounded{ :src => '/images/alumni/centennial-lodge.jpg', :alt => "Interior of the Centennial Lodge" }


.row
  .col-sm-6
    %img.shadow.rounded{ :src => '/images/alumni/barn-exterior.jpg', :alt => "Barn during final stages of construction"}
  .col-sm-6
    .liner.shadow.rounded
      %h2 Refurbished Barn

      %p
        Because of the generous response to our fund raising, the Board of Trustees decided to expand
        their initial goal to fund a much needed rehabilitation project for the beloved Barn. No longer
        are seniors able to break the barn during their bi-annual dance.
