---
title: "Centennial Celebration, celebrating tradition"
description: "On the Labor Day Weekend, 2013, the family of William Lawrence Camp celebrated our 100th season.  We completed our beautiful Centennial Lodge and refurbished the camps Barn by using the generous donations of our friends and alumni."
---

.grid_6
  .liner.shadow.rounded
    %h2 Centennial Celebration

    %p
      The WLC Centennial Celebration went off without a hitch on Labor Day Weekend, 2013.  Over 350 guests and staff gathered on the Knoll for the three-day reunion that showcased the Centennial Lodge, the refurbished Barn, and a chance for guests to participate in their favorite activities and reminisce about their time at camp.

  %img.shadow.rounded{ :src => '/images/alumni/centennial-deck.jpg', :width => 460 }

  .liner.shadow.rounded
    %h2 New Centennial Lodge

    %p
      Thanks to the generosity of alumni and friends of the camp, the Centennial Lodge was built in time for the Celebration.  The main hall has already become an important activity area.  We are still #{link_to "raising funds", "/alumni/charitable-giving.html"} to finish the basement to provide new areas for weight lifting, fly tying, and arts and crafts.

  %img.shadow.rounded{ :src => '/images/alumni/barn-exterior.jpg', :width => 460 }


.grid_6
  %img.shadow.rounded{ :src => '/images/alumni/centennial-stage.jpg', :width => 460 , :alt => 'the interior of the new centennial lodge'}

  .liner.shadow.rounded
    %h2 Festivities

    %p
      The goal of the Centennial Weekend was not only to celebrate the completion of the improvements around camp, but to give alumni a chance to reunite, share stories across generations, enjoy their favorite activities, and revel in the camp spirit.

  %img.shadow.rounded{ :src => '/images/alumni/centennial-lodge.jpg', :width => 460, :alt => 'an exterior image of the new centennial lodge'}

  .liner.shadow.rounded
    %h2 Refurbished Barn

    %p
      Because of the generous response to our fund raising, the Board of Trustees decided to expand their initial goal to fund a much needed rehabilitation project for the beloved Barn.  No longer are seniors able to break the barn during their bi-annual dance.


