.grid_12
  .liner.shadow.rounded
    %h2 Charitable Giving

    %p
      Tuition income is used almost exclusively to meet the needs of the Program,
      and it is the primary reason why we have developed one of the finest,
      all-around summer camp programs in the country.
      To meet our Capital needs, we depend upon the generosity of friends of the Camp.

    %p
      William Lawrence Camp, Inc is a not-for-profit, 501(c)(3) Massachusetts Corporation.
      As such, all gifts are tax-deductable as allowed by law. A majority of our capital
      funds come from our Annual Fund. These funds have paid for countless improvements
      to camp including but not limited to the construction of an NCAA regulation basketball
      court, multiple new cabins, a new roof for Pratt Hall, and funds for our Scholarship Fund.
      The Annual fund drive runs from the start of October, when a solicitation mailing is sent,
      until the end of September the following year.

    %p
      For additional information about matching gifts, naming gifts, gifts in kind or appreciated
      securities, please call the Camp at 603-569-3698. You may make contributions directly to
      the Camp (please specify Annual Fund, Scholarship or Other Use) by downloading the
      Charitable Giving Form, using PayPal below, or, if you wish, please call the Camp
      and a giving envelope will be sent to you.

    %p
      <em>All</em> contributions, great and small, are appreciated and important to us because they
      help make camp an even better place to spend the summer!

    %ul
      %li= link_to 'Make an Online Donation via Paypal', '#'
      %li= link_to 'Download Giving Form', '#'
      %li= link_to '20XX-20XX Annual Fund Letter', '#'
      %li= link_to '501(c)(3) Charitable Corporation Determination Letter', '#'

    %p
      A copy of the camps most recent IRS form 990 is available upon written request.
