---
title: "Summer Camp Riflery Competition between William Lawrence Camp & Fleur-de-Lis"
description: "William Lawrence Camp has held a bi-annual riflery match with our sister camp, Fleur-de-Lis, for decades.  Here are the results of those matches."
---

%style
  td { text-align: right }
  \.win, .loss, .tie { text-align: center }
  \.win { color: green }
  \.loss { color: red }
  \.tie { color: gray }

.grid_12
  .liner.shadow.rounded
    %h2 WLC vs. FDL

    %p
      An epic battle going back decades! Twice a year the brave men of Bill Larry
      prepare their best shooters to battle the ladies of our sister camp, Fleur-de-Lis
      in a match of skill, patience, and guns. Here are the past results of these battles.

      %table{ style: 'width: 60%' }
        %tr
          %th{ style: 'width: 30%; text-align: right' } Year
          %th{ style: 'width: 35%' } Fleur-de-Lis
          %th{ style: 'width: 35%' } William Lawrence
        %tr
          %td Centennial A team
          %td.loss 477
          %td.win 488
        %tr
          %td Centennial B team
          %td.win 470
          %td.loss 463
        %tr
          %td August 2013
          %td.win 471
          %td.loss 420
        %tr
          %td July 2013
          %td.win 454
          %td.loss 442
        %tr
          %td August 2012
          %td.win 470
          %td.loss 422
        %tr
          %td July 2012
          %td.win 460
          %td.loss 425
        %tr
          %td August 2011
          %td.win 477
          %td.loss 375
        %tr
          %td July 2011
          %td.win 468
          %td.loss 386
        %tr
          %td August 2010
          %td.win 481
          %td.loss 400
        %tr
          %td July 2010
          %td.win 478
          %td.loss 368
        %tr
          %td August 2009
          %td.win 479
          %td.loss 437
        %tr
          %td July 2009
          %td.win 469
          %td.loss 436
        %tr
          %td August 2008
          %td.win 470
          %td.loss 401
        %tr
          %td July 2008
          %td.tie 456
          %td.tie 456
        %tr
          %td August 2007
          %td.win 491
          %td.loss 461
        %tr
          %td July 2007
          %td.win 472
          %td.loss 471
        %tr
          %td August 2006
          %td.win 484
          %td.loss 413
        %tr
          %td July 2006
          %td.win 475
          %td.loss 448
        %tr
          %td August 2005
          %td.win 479
          %td.loss 425
        %tr
          %td July 2005
          %td.win 476
          %td.loss 439
        %tr
          %td August 2004
          %td.win 481
          %td.loss 463
        %tr
          %td July 2004
          %td.win 480
          %td.loss 475
        %tr
          %td August 2003
          %td.win 490
          %td.loss 474
        %tr
          %td July 2003
          %td.win 472
          %td.loss 468
        %tr
          %td August 2002
          %td.win 486
          %td.loss 464
        %tr
          %td July 2002
          %td.win 487
          %td.loss 406
        %tr
          %td August 2001
          %td.win 486
          %td.loss 437
        %tr
          %td July 2001
          %td.win 469
          %td.loss 465
        %tr
          %td August 2000
          %td.win 484
          %td.loss 469
        %tr
          %td July 2000
          %td.win 479
          %td.loss 444
        %tr
          %td August 1999
          %td.win 480
          %td.loss 475
        %tr
          %td July 1999
          %td.win 475
          %td.loss 427
        %tr
          %td August 1998
          %td.win 486
          %td.loss 472
        %tr
          %td July 1998
          %td.win 480
          %td.loss 452
        %tr
          %td August 1997
          %td.win 474
          %td.loss 469
        %tr
          %td July 1997
          %td.tie 472
          %td.tie 472
        %tr
          %td August 1996
          %td.win 480
          %td.loss 452
        %tr
          %td July 1996
          %td.win 473
          %td.loss 463
        %tr
          %td August 1995
          %td.win 488
          %td.loss 466
        %tr
          %td July 1995
          %td.win 476
          %td.loss 469
        %tr
          %td August 1994
          %td.win 478
          %td.loss 475
        %tr
          %td July 1994
          %td.win 465
          %td.loss 460
        %tr
          %td August 1993
          %td.win 481
          %td.loss 469
        %tr
          %td July 1993
          %td.win 464
          %td.loss 450
        %tr
          %td August 1992
          %td.loss 460
          %td.win 465
        %tr
          %td July 1992
          %td.loss 470
          %td.win 471
        %tr
          %td August 1991
          %td.win 476
          %td.loss 465
        %tr
          %td July 1991
          %td.win 477
          %td.loss 465
        %tr
          %td August 1990
          %td.win 487
          %td.loss 480
        %tr
          %td July 1990
          %td.win 480
          %td.loss 479
        %tr
          %td August 1989
          %td.win 470
          %td.loss 467
        %tr
          %td July 1989
          %td.win 460
          %td.loss 444
        %tr
          %td August 1988
          %td.win 481
          %td.loss 479
        %tr
          %td July 1988
          %td.win 486
          %td.loss 469
        %tr
          %td August 1987
          %td.win 482
          %td.loss 472
        %tr
          %td July 1987
          %td.loss 461
          %td.win 465
        %tr
          %td August 1986
          %td.win 491
          %td.loss 475
        %tr
          %td July 1986
          %td.win 465
          %td.loss 461
        %tr
          %td August 1985
          %td.win 482
          %td.loss 468
        %tr
          %td July 1985
          %td.win 482
          %td.loss 458
        %tr
          %td August 1984
          %td.loss 469
          %td.win 471
        %tr
          %td July 1984
          %td.win 471
          %td.loss 467
        %tr
          %td August 1983
          %td.win 478
          %td.loss 466
        %tr
          %td July 1983
          %td.loss 464
          %td.win 469
        %tr
          %td July 1975
          %td.loss 474
          %td.win 475
