%style
  td { text-align: center }
  \.win { color: green }
  \.loss { color: red }
  \.tie { color: gray }

- content_for :subnavigation do
  = partial 'alumni/subnavigation'

.grid_12
  .liner.shadow.rounded
    %h2 WLC vs. FDL

    %p
      An epic battle going back decades! Twice a year the brave men of Bill Larry
      prepare their best shooters to battle the ladies of our sister camp, Fleur-de-Lis
      in a match of skill, patience, and guns. Here are the past results of these battles.

      %table{:style => "width: 100%"}
        %tr
          %th Fleur-de-Lis
          %th Year
          %th William Lawrence
        %tr
          %td.win 463
          %td Jul -11
          %td.loss 386
        %tr
          %td.win 481
          %td Aug -10
          %td.loss
            400
        %tr
          %td.win 478
          %td Jul-10
          %td.loss 368
        %tr
          %td.win 479
          %td Aug-09
          %td.loss 437
        %tr
          %td.win 469
          %td Jul-09
          %td.loss 436
        %tr
          %td.win 470
          %td Aug-08
          %td.loss 401
        %tr
          %td.tie 456
          %td Jul-08
          %td.tie 456
        %tr
          %td.win 491
          %td Aug-07
          %td.loss 461
        %tr
          %td.win 472
          %td Jul-07
          %td.loss 471
        %tr
          %td.win 484
          %td Aug-06
          %td.loss 413
        %tr
          %td.win 475
          %td Jul-06
          %td.loss 448
        %tr
          %td.win 479
          %td Aug-05
          %td.loss 425
        %tr
          %td.win 476
          %td Jul-05
          %td.loss 439
        %tr
          %td.win 481
          %td Aug-04
          %td.loss 463
        %tr
          %td.win 480
          %td Jul-04
          %td.loss 475
        %tr
          %td.win 490
          %td Aug-03
          %td.loss 474
        %tr
          %td.win 472
          %td Jul-03
          %td.loss 468
        %tr
          %td.win 486
          %td Aug-02
          %td.loss 464
        %tr
          %td.win 487
          %td Jul-02
          %td.loss 406
        %tr
          %td.win 486
          %td Aug-01
          %td.loss 437
        %tr
          %td.win 469
          %td Jul-01
          %td.loss 465
        %tr
          %td.win 484
          %td Aug-00
          %td.loss 469
        %tr
          %td.win 479
          %td Jul-00
          %td.loss 444
        %tr
          %td.win 480
          %td Aug-99
          %td.loss 475
        %tr
          %td.win 475
          %td Jul-99
          %td.loss 427
        %tr
          %td.win 486
          %td Aug-98
          %td.loss 472
        %tr
          %td.win 480
          %td Jul-98
          %td.loss 452
        %tr
          %td.win 474
          %td Aug-97
          %td.loss 469
        %tr
          %td.tie 472
          %td Jul-97
          %td.tie 472
        %tr
          %td.win 480
          %td Aug-96
          %td.loss 452
        %tr
          %td.win 473
          %td Jul-96
          %td.loss 463
        %tr
          %td.win 488
          %td Aug-95
          %td.loss 466
        %tr
          %td.win 476
          %td Jul-95
          %td.loss 469
        %tr
          %td.win 478
          %td Aug-94
          %td.loss 475
        %tr
          %td.win 465
          %td Jul-94
          %td.loss 460
        %tr
          %td.win 481
          %td Aug-93
          %td.loss 469
        %tr
          %td.win 464
          %td Jul-93
          %td.loss 450
        %tr
          %td.loss 460
          %td Aug-92
          %td.win 465
        %tr
          %td.loss 470
          %td Jul-92
          %td.win 471
        %tr
          %td.win 476
          %td Aug-91
          %td.loss 465
        %tr
          %td.win 477
          %td Jul-91
          %td.loss 465
        %tr
          %td.win 487
          %td Aug-90
          %td.loss 480
        %tr
          %td.win 480
          %td Jul-90
          %td.loss 479
        %tr
          %td.win 470
          %td Aug-89
          %td.loss 467
        %tr
          %td.win 460
          %td Jul-89
          %td.loss 444
        %tr
          %td.win 481
          %td Aug-88
          %td.loss 479
        %tr
          %td.win 486
          %td Jul-88
          %td.loss 469
        %tr
          %td.win 482
          %td Aug-87
          %td.loss 472
        %tr
          %td.loss 461
          %td Jul-87
          %td.win 465
        %tr
          %td.win 491
          %td Aug-86
          %td.loss 475
        %tr
          %td.win 465
          %td Jul-86
          %td.loss 461
        %tr
          %td.win 482
          %td Aug-85
          %td.loss 468
        %tr
          %td.win 482
          %td Jul-85
          %td.loss 458
        %tr
          %td.loss 469
          %td Aug-84
          %td.win 471
        %tr
          %td.win 471
          %td Jul-84
          %td.loss 467
        %tr
          %td.win 478
          %td Aug-83
          %td.loss 466
        %tr
          %td.loss 464
          %td Jul-83
          %td.win 469
        %tr
          %td.loss 474
          %td Jul-75
          %td.win 475
