%li.dropdown
  %a.dropdown-toggle{'data-toggle' => 'dropdown'}
    .unselectable 
      Connect
      %b.caret
  %ul.dropdown-menu
    %li=link_to 'Contact Us', '/connect/contact.html'
    %li=link_to 'Stay Informed', '/connect/mailing-list.html'
