%li.dropdown
  %a.dropdown-toggle{'data-toggle' => 'dropdown'}
    .unselectable
      News
      %b.caret
  %ul.dropdown-menu
    %li=link_to 'Calendar', '/news/calendar.html'
    %li
      %a{href: 'http://wlcamp.blogspot.com', target: :blank}
        Blog&nbsp;
        %i.fa.fa-external-link
    %li
      %a{href: 'https://picasaweb.google.com/101625798794361011934?noredirect=1', target: :blank}
        Photo Gallery&nbsp;
        %i.fa.fa-external-link
    %li
      %a{href: 'http://facebook.com/williamlawrencecamp', target: :blank}
        Facebook&nbsp;
        %i.fa.fa-external-link
    %li
      %a{href: 'https://plus.google.com/103058120108267752423/about', target: :blank}
        Google+&nbsp;
        %i.fa.fa-external-link
    %li
      %a{href: 'http://twitter.com/#!/wlcamp', target: :blank}
        Twitter&nbsp;
        %i.fa.fa-external-link
    %li
      %a{href: 'http://www.youtube.com/user/WilliamLawrenceCamp', target: :blank}
        YouTube&nbsp;
        %i.fa.fa-external-link
