%ul.subnavigation
  %li= link_to 'Knoll News', 'http://wlcamp.posterous.com', target: :blank
  %li= link_to 'Facebook', 'http://facebook.com/williamlawrencecamp', target: :blank
  %li= link_to 'Twitter', 'http://twitter.com/#!/wlcamp', target: :blank
  %li= link_to 'YouTube', 'http://www.youtube.com/user/WilliamLawrenceCamp', target: :blank
