%li.dropdown
  %a.dropdown-toggle{'data-toggle' => 'dropdown'}
    .unselectable 
      News
      %b.caret
  %ul.dropdown-menu
    %li=link_to 'Calendar', '/news/calendar.html'
    %li
      %a{href: 'http://wlcamp.blogspot.com', target: :blank}
        Blog 
        %span.glyphicon.glyphicon-new-window
    %li
      %a{href: 'https://picasaweb.google.com/101625798794361011934?noredirect=1', target: :blank}
        Photo Gallery 
        %span.glyphicon.glyphicon-new-window
    %li
      %a{href: 'http://facebook.com/williamlawrencecamp', target: :blank}
        Facebook 
        %span.glyphicon.glyphicon-new-window
    %li
      %a{href: 'https://plus.google.com/103058120108267752423/about', target: :blank}
        Google+ 
        %span.glyphicon.glyphicon-new-window
    %li
      %a{href: 'http://twitter.com/#!/wlcamp', target: :blank}
        Twitter 
        %span.glyphicon.glyphicon-new-window
    %li
      %a{href: 'http://www.youtube.com/user/WilliamLawrenceCamp', target: :blank}
        Youtube 
        %span.glyphicon.glyphicon-new-window
