---
title: "Upcoming Summer Camp Events at William Lawrence"
---

%style{ type: 'text/css' }
  dd { margin-bottom: 1em }
  dd .name { font-weight: bold }

.grid_12
  .liner.shadow.rounded
    %h2 Calendar

    %dl
      %dt January 6
      %dd
        .name= link_to 'Camp Reunion', '/downloads/calendar/2012-01-06-camp-reunion.pdf'
        6:30 PM - 9:00 PM<br />
        Burr School<br />
        Newton, MA

      %dt March 18
      %dd
        .name Alumni Reunion
        1:00 PM - 4:00 PM<br />
        Double Tree by Hilton - Bedford Glen (formerly the Bedford Renaissance)<br />
        44 Middlesex Turnpike<br />
        Bedford, MA

      %dt March 25
      %dd
        .name Alumni Reunion
        1:00 PM - 4:00 PM<br />
        Renaissance Westchester Hotel<br />
        80 West Red Oak Lane<br />
        West Harrison, NY

      %dt May 5
      %dd
        .name Service Weekend
        William Lawrence Camp<br />
        Center Tuftonboro, NH

      %dt May 26 - 27
      %dd
        .name Open House
        10:00 AM - 3:00 PM (both days)<br />
        William Lawrence Camp<br />
        Center Tuftonboro, NH

      %dt June 24
      %dd
        .name Opening Day (1st Session)
        William Lawrence Camp<br />
        Center Tuftonboro, NH

      %dt July 14
      %dd
        .name Board of Trustees&rsquo; Meeting
        William Lawrence Camp<br />
        Center Tuftonboro, NH

      %dt July 22
      %dd
        .name Opening Day (2nd Session)
        William Lawrence Camp<br />
        Center Tuftonboro, NH

      %dt August 4 - 5
      %dd
        .name Braves Alumni Weekend
        William Lawrence Camp<br />
        Center Tuftonboro, NH

      %dt August 14 - 19
      %dd
        .name= link_to 'Family Camp', '/parents/family-camp.html'
        William Lawrence Camp<br />
        Center Tuftonboro, NH
