%li.dropdown
  %a.dropdown-toggle{'data-toggle' => 'dropdown'}
    .unselectable
      Tradition
      %b.caret
  %ul.dropdown-menu
    %li=link_to 'Alumni Camp', '/tradition/alumni-camp.html'
    %li=link_to 'Honor Society', '/tradition/honor-society.html'
    %li=link_to 'Centennial', '/tradition/centennial-celebration.html'
    %li=link_to 'Charitable Giving', '/tradition/charitable-giving.html'
    %li=link_to 'History', '/tradition/,istory.html'
    %li=link_to 'Lost Larrys', '/tradition/lost-larrys.html'
    %li=link_to 'Our Mission', '/tradition/mission-statement.html'
    %li=link_to 'Songs', '/tradition/songs.html'
    %li=link_to 'Trustees', '/tradition/trustees.html'
    %li=link_to 'Values', '/tradition/values.html'
    %li=link_to 'WLC vs. FDL', '/tradition/wlc-vs-fdl.html'
