---
title: "Braves Honor Society | William Lawrence Camp"
description: "William Lawrence Camp's Brave Honor Society is the highest achievement one can obtain at camp.  It consists of a variety of tests that encompass all camp has to offer and is often a goal of campers and staffers alike."
---

.row
  .col-sm-6
    .liner.shadow.rounded
      %h2 Braves Honor Society

      %p
        The Braves Honor Society is a group with a history stretching back
        almost to our camp&rsquo;s founding. Its members have completed a series of
        eighteen tests encompassing everything that camp has to offer.
        But more than that, they have shown unwavering dedication to the values
        that camp stands for. The Braves are the heart of the camp, the
        exemplification of our soul stretching back through history.

  .col-sm-6
    .shadow.rounded.embed-responsive.embed-responsive.embed-responsive-16by9.video= vimeo 31094241, 5
