---
title: "Build Character at Summer Camp as a Brave"
---

.grid_7
  .liner.shadow.rounded
    %h2 Braves Honor Society

    %p
      The Braves Honor Society is a group with a history stretching back
      almost to our camp&rsquo;s founding. Its members have completed a series of
      eighteen tests encompassing everything that camp has to offer.
      But more than that, they have shown unwavering dedication to the values
      that camp stands for. The Braves are the heart of the camp, the
      exemplification of our soul stretching back through history.

.grid_5
  .shadow.rounded.video= vimeo 31094241, 376
