---
title: "Build Character at Summer Camp as a Brave"
description: "William Lawrence Camp is a traditional overnight summer camp for boys in Center Tuftonboro, New Hampshire.  The Brave Honor Society is the highest achivement one can obtain at camp.  It consists of a variety of tests that encompass all camp has to offer."
---

.grid_7
  .liner.shadow.rounded
    %h2 Braves Honor Society

    %p
      The Braves Honor Society is a group with a history stretching back
      almost to our camp&rsquo;s founding. Its members have completed a series of
      eighteen tests encompassing everything that camp has to offer.
      But more than that, they have shown unwavering dedication to the values
      that camp stands for. The Braves are the heart of the camp, the
      exemplification of our soul stretching back through history.

.grid_5
  .shadow.rounded.video= vimeo 31094241, 5
