---
title: "Lost Larrys"
description: "William Lawrence Camp is always trying to stay in contact with our alumni."
---

%h1.page-heading.amatic
  = current_page.data.title

.row
  .col-xs-12
    .liner.shadow.rounded
      :javascript
        var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");
        document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));

      :javascript
        var z7x4a3 = new WufooForm();
        z7x4a3.initialize({
        'userName':'wlcamp',
        'formHash':'z7x4a3',
        'autoResize':true,
        'height':'838',
        'header':'show'});
        z7x4a3.display();
