---
title: "Our Mission"
description: "At William Lawrence overnight summer camp, we have a mission statement that we try to live by.  It covers the essentials of what we think camp should encompass."
---

%h1.page-heading.amatic
  = current_page.data.title

.liner.shadow.rounded
  .row
    .col-sm-12
      %p
        Our mission statement is the driving force behind our philosophy and everything we do at camp.
        We think about it as we prepare for camp and try to incorporate it's ideals into every activity
        we teach throughout the summer.  It is as follows:

      %blockquote
        %p
          Through a fun, balanced program, in a camp
          family atmosphere with positive role models,
          William Lawrence Camp encourages the
          intellectual, social, emotional, and physical
          development of the whole boy in a caring,
          nurturing, spirited,
          challenging, yet safe environment.
          While allowing a kid to be a kid, the camp seeks to
          enhance positive values and skill development
          leading to a productive and responsible adulthood.
        %p
          The camp experience builds character and
          fellowship, provides new and different experiences,
          improves group living skills, provides an
          opportunity to meet people from different
          backgrounds and countries, and fosters an
          appreciation of nature and the environment. Each
          camper is encouraged to increase self esteem,
          realize his potential, share and develop his
          personality, develop lasting friendships, and
          become a part of the camp family, which many
          consider a second home.
      %hr
        %p
          Our camp values are based on what we call William Lawrence Camp Spirit:

        %ul.wlcs
          %li <strong>W</strong>illingness
          %li <strong>L</strong>oyalty
          %li <strong>C</strong>omradeship
          %li <strong>S</strong>portsmanship

:css
  .wlcs { list-style: none; font-size: 1.25em; padding-left: 1em }
  .wlcs strong { display: inline-block; min-width: 1.25em; text-align: center; }
