---
title: "Mission Statement | William Lawrence Overnight Camp"
description: "At William Lawrence overnight summer camp, we have a mission statement that we try to live by.  It covers the essentials of what we think camp should encompass."
---

%style
  td { text-align: center }
  \.tiny { font-size: 9px; line-height: 11px }

.row
  .col-md-6.col-sm-9.col-xs-12
    .liner.shadow.rounded
      %h2 Mission Statement

      %p Our mission statement is the driving force behind our philosophy and everything we do at camp.  We think about it as we prepare for camp and try to incorporate it's ideals into every activity we teach throughout the summer.  It is as follows:
      %p.mission-statement
        Through a fun, balanced program, in a camp 
        %br/
        family atmosphere with positive role models, 
        %br/
        William Lawrence Camp encourages the 
        %br/
        intellectual, social, emotional, and physical
        %br/
        development of the whole boy in a caring,
        %br/
        nurturing, spirited,
        %br/
        challenging, yet safe environment.
        %br/
        While allowing a kid to be a kid, the camp seeks to
        %br/
        enhance positive values and skill development
        %br/
        leading to a productive and responsible adulthood.
        %br/
      %p.mission-statement
        The camp experience builds character and 
        %br/
        fellowship, provides new and different experiences,
        %br/
        improves group living skills, provides an
        %br/
        opportunity to meet people from different
        %br/
        backgrounds and countries, and fosters an
        %br/
        appreciation of nature and the environment. Each
        %br/
        camper is encouraged to increase self esteem,
        %br/
        realize his potential, share and develop his
        %br/
        personality, develop lasting friendships, and
        %br/
        become a part of the camp family, which many
        %br/
        consider a second home.
