.grid_12
  .liner.shadow.rounded
    %h2 Camp Songs

    %h2 Summer Camp Songs, Chants and Cheers
    %p
      Do you know a cheer that we forgot to list? Use our
      %a{:href => "boys-summer-camp-contact.asp?strOpenEnded=song", :title => "Contact Us"} contact page
      to let us know about it.
    %h3 Chants and Cheers
    %p
      %a{:href => "#Announcements"} Announcements!
      %br/
      %a{:href => "#Augie"} Augie!  Augie!  Augie!
      %br/
      %a{:href => "#Blue-White"} Blue / White!
      %br/
      %a{:href => "#Dy-na-mite"} Dy-na-mite!
      %br/
      %a{:href => "#LetsGo"} Let's Go!
      %br/
      %a{:href => "#NoFlies"} No Flies On Us!
      %br/
      %a{:href => "#TwoBits"} Two Bits, Four Bits!
      %br/
      %a{:href => "#Whattatin"} Whattatin Chew!
    %h3 Songs
    %p
      %a{:href => "#For%20Lawrence%20We%20Stand"} For Lawrence We Stand
      %br/
      %a{:href => "#L-A-W"} L-A-W-R-E-N-C-E
      %br/
      %a{:href => "#William%20Lawrence%20Spirit"} William Lawrence Spirit
      %br/
      %a{:href => "#All%20Things%20Bright%20And%20Beautiful"} All Things Bright And Beautiful
      %br/
      %a{:href => "#My%20Country%20Tis%20of%20Thee"} America (My Country, 'Tis of Thee)
      %br/
      %a{:href => "#America"} America, The Beautiful
      %br/
      %a{:href => "#Build%20Me%20Up%20Buttercup"} Build Me Up Buttercup
      %br/
      %a{:href => "#Do%20Lord"} Do Lord
      %br/
      %a{:href => "#Dummy%20Line"} Dummy   Line
      %br/
      %a{:href => "#Dunderbeck"} Dunderbeck's Machine
      %br/
      %a{:href => "#God%20Bless%20America"} God Bless America
      %br/
      %a{:href => "#If%20I%20Had%20A%20Hammer"} If I Had A Hammer
      %br/
      %a{:href => "#If%20Youre%20Happy"} If You're Happy And You Know It
      %br/
      %a{:href => "#Ive%20Got%20Six%20Pence"} I've Got Six Pence
      %br/
      %a{:href => "#John%20Browns%20Ford"} John Brown's Ford
      %br/
      %a{:href => "#Kum%20Ba%20Yah"} Kum Ba Yah
      %br/
      %a{:href => "#Lord%20Said%20To%20Noah"} Lord Said To Noah
      %br/
      %a{:href => "#MTA"} MTA
      %br/
      %a{:href => "#Our%20Paddles"} Our Paddles Clean And Bright
      %br/
      %a{:href => "#Sipping%20Cider"} Sipping Cider
      %br/
      %a{:href => "#Star"} Star-spangled Banner
      %br/
      %a{:href => "#Taps"} Taps
      %br/
      %a{:href => "#Under%20the%20Spreading%20Chestnut%20Tree"} Under the Spreading Chestnut Tree
      %br/
      %a{:href => "#When%20the%20Saints"} When the Saints Go Marching In
    %a{:name => "Announcements"}
    %h3 Announcements!
    %p
      A terrible death to die, a terrible death to die
      %br/
      A terrible death to be talked to death
      %br/
      A terrible death to die!
      %br/
      Announcements, announcements, announcements
    %a{:name => "Augie"}
    %h3 Augie!  Augie!  Augie!
    %p
      %strong> Leader
      \: Augie!  Augie!  Augie!
      %br/
      %strong Response:
      Oy!  Oy!  Oy!
      %br/
      %strong Leader:
      Augie!  Augie!  Augie!
      %br/
      %strong Response:
      Oy!  Oy!  Oy!
      %br/
      %strong Leader:
      Augie!
      %br/
      %strong Response:
      Oy!
      %br/
      %strong Leader:
      Augie!
      %br/
      %strong Response:
      Oy!
      %br/
      %strong Leader:
      Augie!  Augie!  Augie!
      %br/
      %strong Response:
      Oy!  Oy!  Oy!
    %a{:name => "Blue-White"}
    %h3 Blue / White!
    %p
      %strong Leader:
      When I say, "Blue!," you say, "White!"
      %br/
      %strong Leader:
      Blue!
      %br/
      %strong Response:
      White!
      %br/
      %strong Leader:
      Blue!
      %br/
      %strong Response:
      White!
      %br/
      %strong Leader:
      When I say, "Bill!," you say, "Larry!"
      %br/
      %strong Leader:
      Bill!
      %br/
      %strong Response:
      Larry!
      %br/
      %strong Leader:
      Bill!
      %br/
      %strong Response:
      Larry!
      %br/
      %strong Leader:
      When I say, "Number!," you say, "One!"
      %br/
      %strong Leader:
      Number!
      %br/
      %strong Response:
      One!
      %br/
      %strong Leader:
      Number!
      %br/
      %strong Response:
      One!
      %br/
      William Lawrence (clap, clap, clap-clap-clap)
      %br/
      William Lawrence (clap, clap, clap-clap-clap)
      %br/
      William Lawrence (clap, clap, clap-clap-clap)
    %a{:name => "Dy-na-mite"}
    %h3 Dy-na-mite!
    %p
      We're dy-na-mite, we're dy-na-mite!
      %br/
      Our team is dy-na-mite!
      %br/
      We're tick, tick, tick tick,
      %br/
      BOOM dy-na-mite!
      %br/
      BOOM, BOOM dy-na-mite!!!
    %a{:name => "LetsGo"}
    %h3 Let's Go!
    %p
      (clap, clap, clap-clap-clap, clap-clap-clap-clap) Let's go!
      %br/
      (clap, clap, clap-clap-clap, clap-clap-clap-clap) Let's go!
      %br/
      (clap, clap, clap-clap-clap, clap-clap-clap-clap) Let's go!
    %a{:name => "NoFlies"}
    %h3 No Flies On Us!
    %p
      There ain't no flies on us!
      %br/
      There ain't no flies on us!
      %br/
      There might be flies on you guys,
      %br/
      But there ain't no flies on us!
    %a{:name => "TwoBits"}
    %h3 Two Bits, Four Bits!
    %p
      Two bits, four bits,
      %br/
      Six bits, a dollar.
      %br/
      Everyone for the Cooks,
      %br/
      Stand up and holler!
    %a{:name => "Whattatin"}
    %h3 Whattatin Chew!
    %p
      Whattatin Chew!
      %br/
      Bodo Skedetenat Whattatin Chew!
      %br/
      It's Skiddlin' Oatin' Dotin' Bodo Skedetenat Whattatin Chew!
      %br/
      Ishy Dishy Little Fishy, It's Skiddlin' Oatin' Dotin' Bodo Skedetenat Whattatin Chew!
      %br/
      Itten Ditten Little Kitten, Ishy Dishy Little Fishy, It's Skiddlin' Oatin' Dotin' Bodo Skedetenat Whattatin Chew!
      %br/
      Oaten Doaten Little Boaten, Itten Ditten Little Kitten, Ishy Dishy Little Fishy, It's Skiddlin' Oatin' Dotin' Bodo Skedetenat Whattatin Chew!
      %br/
      WHATTATIN CHEW!!!
    %h3
      %a{:name => "For Lawrence We Stand"}>
      For Lawrence We Stand
    %p
      For Lawrence we stand,
      %br/
      It is the best camp in the land.
      %br/
      Loyal and true,
      %br/
      Are the boys of White and Blue.
      %br/
      And when the game is at its height,
      %br/
      You'll see them fight with all their might.
      %br/
      Three cheers for Lawrence Camp,
      %br/
      And for its spirit and its might.
      %br/
      Rah!, Rah!, Rah!
    %p
      For Lawrence we stand,
      %br/
      It is the best camp in the land.
      %br/
      Loyal and true,
      %br/
      Are the boys of White and Blue.
      %br/
      And when the sun is sinking low,
      %br/
      Then you'll see the campfires glow.
      %br/
      Three cheers for Lawrence Camp,
      %br/
      And for its spirit and its might.
      %br/
      Rah!, Rah!, Rah!
    %h3
      %a{:name => "L-A-W"}>
      L-A-W-R-E-N-C-E
    %p
      L-A-W-R-E-N-C-E, Boom!
      %br/
      Lawrence, our Lawrence,
      %br/
      We'll sing to thee.
      %br/
      Fairest of summer camps,
      %br/
      Give her the three times three.
      %br/
      Oh!, fellows, long may we cherish her,
      %br/
      Faithful we'll be.
      %br/
      Lawrence, our Lawrence,
      %br/
      For you and for me.
    %h3
      %a{:name => "William Lawrence Spirit"}>
      William Lawrence Spirit
    %p
      I've got that William Lawrence Spirit,
      %br/
      Up in my head, up in my head, up in my head.
      %br/
      I've got that William Lawrence Spirit,
      %br/
      Up in my head, up in my head to stay.
    %p
      I've got that William Lawrence Spirit,
      %br/
      Down in my feet, down in my feet, down in my feet.
      %br/
      I've got that William Lawrence Spirit,
      %br/
      Down in my feet, down in my feet to stay.
    %p
      I've got that William Lawrence Spirit,
      %br/
      Deep in my heart, deep in my heart, deep in my heart.
      %br/
      I've got that William Lawrence Spirit,
      %br/
      Deep in my heart, deep in my heart to stay.
    %p
      I've got that William Lawrence Spirit,
      %br/
      Up in my head, down in my feet, deep in my heart.
      %br/
      I've got that William Lawrence Spirit,
      %br/
      All over me, all over me to stay.
    %h3
      %a{:name => "All Things Bright And Beautiful"}>
      All Things Bright and Beautiful
    %p CHORUS
    %p
      All things bright and beautiful.
      %br/
      All creatures great and small.
      %br/
      All things wise and wonderful.
      %br/
      The Lord, God, made them all.
    %p
      Each little flower that opens.
      %br/
      Each little bird that sings.
      %br/
      He made their glowing colors.
      %br/
      He made their tiny wings.
    %p CHORUS
    %p
      The purple-headed mountain.
      %br/
      The river running by.
      %br/
      The sunset in the morning.
      %br/
      That brightens up the sky.
    %p CHORUS
    %p
      The cold wind in the winter.
      %br/
      The pleasant summer sun.
      %br/
      The ripe fruits in the garden.
      %br/
      He made them every one.
    %p CHORUS
    %h3
      %a{:name => "My Country Tis of Thee"}>
      America (My   Country, 'Tis of Thee)
    %p
      My country, 'tis of thee,
      %br/
      sweet land of liberty, of thee I sing;
      %br/
      land where my fathers died,
      %br/
      land of the pilgrims' pride,
      %br/
      from every mountainside let freedom ring!
    %p
      My native country, thee,
      %br/
      land of the noble free, thy name I love;
      %br/
      I love thy rocks and rills,
      %br/
      thy woods and templed hills;
      %br/
      my heart with rapture thrills, like that above.
    %p
      Let music swell the breeze,
      %br/
      and ring from all the trees sweet freedom's song;
      %br/
      let mortal tongues awake;
      %br/
      let all that breathe partake;
      %br/
      let rocks their silence break, the sound prolong.
    %p
      Our fathers' God, to thee,
      %br/
      author of liberty, to thee we sing;
      %br/
      long may our land be bright
      %br/
      with freedom's holy light;
      %br/
      protect us by thy might, great God, our King.
    %p &nbsp;
    %h3
      %a{:name => "America"}>
      America, The Beautiful
    %p
      Oh, beautiful for spacious skies, for amber waves of   grain,
      %br/
      For purple mountains majesty above the fruited plain.
      %br/
      America!&nbsp; America!&nbsp; God shed his grace on thee,
      %br/
      And crown they good with brotherhood from sea to shining sea.
    %h3
      %a{:name => "Build Me Up Buttercup"}>
      Build Me Up   Buttercup
    %p
      Why do you build me up (build me up) Buttercup, baby
      %br/
      Just to let me down (let me down) and mess me around
      %br/
      And then worst of all (worst of all) you never call, baby
      %br/
      When you say you will (say you will) but I love you still
      %br/
      I need you (I need you) more than anyone, darlin'
      %br/
      You know that I have from the start
      %br/
      So build me up (build me up) Buttercup, don't break my heart
      %br/
      %br/
      "I'll be over at ten", you told me time and again
      %br/
      But you're late, I wait around and then (bah dah dah)
      %br/
      I run to the door, I can't take any more
      %br/
      It's not you, you let me down again
      %br/
      %br/
      (Hey, hey, hey!) Baby, baby, try to find
      %br/
      (Hey, hey, hey!) A little time, and I'll make you happy
      %br/
      (Hey, hey, hey!) I'll be home
      %br/
      I'll be beside the phone waiting for you
      %br/
      Ooo-oo-ooo, ooo-oo-ooo
      %br/
      %br/
      Why do you build me up (build me up) Buttercup, baby
      %br/
      Just to let me down (let me down) and mess me around
      %br/
      And then worst of all (worst of all) you never call, baby
      %br/
      When you say you will (say you will) but I love you still
      %br/
      I need you (I need you) more than anyone, darlin'
      %br/
      You know that I have from the start
      %br/
      So build me up (build me up) Buttercup, don't break my heart
      %br/
      %br/
      You were my toy but I could be the boy you adore
      %br/
      If you'd just let me know (bah dah dah)
      %br/
      Although you're untrue, I'm attracted to you all the more
      %br/
      Why do I need you so
      %br/
      %br/
      (Hey, hey, hey!) Baby, baby, try to find
      %br/
      (Hey, hey, hey!) A little time and I'll make you happy
      %br/
      (Hey, hey, hey!) I'll be home
      %br/
      I'll be beside the phone waiting for you
      %br/
      Ooo-oo-ooo, ooo-oo-ooo
      %br/
      %br/
      Why do you build me up (build me up) Buttercup, baby
      %br/
      Just to let me down (let me down) and mess me around
      %br/
      And then worst of all (worst of all) you never call, baby
      %br/
      When you say you will (say you will) but I love you still
      %br/
      I need you (I need you) more than anyone, darlin'
      %br/
      You know that I have from the start
      %br/
      So build me up (build me up) Buttercup, don't break my heart
      %br/
      %br/
      I-I-I need you-oo-oo more than anyone, baby
      %br/
      You know that I have from the start
      %br/
      So build me up (build me up) Buttercup, don't break my heart
    %h3
      %a{:name => "Do Lord"}>
      Do Lord
    %p CHORUS
    %p
      Do Lord, oh, do Lord, oh, do remember me.
      %br/
      Do Lord, oh, do Lord, oh, do remember me.
      %br/
      Do Lord, oh, do Lord, oh, do remember me,
      %br/
      'Way beyond the blue horizon!
    %p
      I've got a home in glory land that outshines the sun.
      %br/
      I've got a home in glory land that outshines the sun.
      %br/
      I've got a home in glory land that outshines the sun.
      %br/
      'Way beyond the blue horizon!
    %p CHORUS
    %p
      I took Jesus as my savior, you take Him, too.
      %br/
      I took Jesus as my savior, you take Him, too.
      %br/
      I took Jesus as my savior, you take Him, too.
      %br/
      "Way beyond the blue horizon!
    %p CHORUS
    %p
      If you cannot bear the cross, you can't wear the crown.
      %br/
      If you cannot bear the cross, you can't wear the crown.
      %br/
      If you cannot bear the cross, you can't wear the crown.
      %br/
      'Way beyond the blue horizon!
    %p CHORUS
    %p &nbsp;
    %h3
      %a{:name => "Dummy Line"}>
      Dummy Line
    %p CHORUS
    %p
      On the dummy line, on the dummy line
      %br/
      Rain or shine, I'll pay my fine
      %br/
      Rain or shine, I'll pay my fine
      %br/
      Ride, ride, riding on the dummy line
    %p
      I got on the train and didn't have the fare
      %br/
      The conductor said, "Whatcha doin' there?"
      %br/
      He grabbed me by the collar and shoved me out the door
      %br/
      Said, "I don't want to see you on this line no more!"
    %p
      I've got a girl, and her name's Hortense.
      %br/
      She's not good looking, but she's got good sense.
      %br/
      Every time I kiss Hortense (WOOOOO!)
      %br/
      I've got to buy a nickle's worth of peppermints!
    %p
      Little Willy was home by himself
      %br/
      Found a chocolate cake on the kitchen shelf
      %br/
      Willy said, "If I eat this cake
      %br/
      Sis won't get a belly ache"
    %p
      Little Willy saw a mill saw buzz
      %br/
      Didn't know quite what it was
      %br/
      Now his arm is full of nicks
      %br/
      And, alas poor Willy, he's cut in six
    %p
      Little Willy found some dynamite
      %br/
      He didn't understand it quite
      %br/
      But curiosity never pays
      %br/
      It rained Willy several days
    %p
      Little Willy coming home from school
      %br/
      Spied a half a dollar at the foot of a mule
      %br/
      Stooped down to pick it up, quiet as a mouse
      %br/
      Funeral tomorrow at little Willy's house!
    %p
      Little birdie in the sky
      %br/
      Dropped some whitewash in my eye
      %br/
      Says I to me; says me to I
      %br/
      "I'm sure glad that cows can't fly!"
    %p
      There was a boy by the name of Jack
      %br/
      Pitched his tent on a railroad track
      %br/
      Midnight express came around the bend
      %br/
      What kind of flowers did you send?
    %p
      There once was a doctor, his name was Peck
      %br/
      He fell in a well and he broke his neck
      %br/
      It served him right, for he should've known
      %br/
      To tend to the sick and leave the well alone!
    %p
      There once was a hunter, his name was O'Hare
      %br/
      He was chased by a grizzly bear
      %br/
      The people all thought he was out of his mind
      %br/
      Running down the street with a bear behind!
    %p
      There was an old witch by the name of Nan
      %br/
      Who tried to pass as a good humor man
      %br/
      Couldn't fool the kids, they all stayed home -
      %br/
      They would not buy from an ice cream crone
    %p
      My grandpa had a car, it was a Ford machine
      %br/
      His whiskers came in handy for straining gasoline
      %br/
      My grandma had a habit of chewing in her sleep
      %br/
      She chewed on grandpa's whiskers and dreamed of shredded wheat
    %h3
      %a{:name => "Dunderbeck"}>
      Dunderbeck's Machine
    %p
      There was a little Dutchman and is name was Dunderbeck.
      %br/
      He used to deal in sausages and sauerkraut and speck.
      %br/
      He made the finest sausages that ever you did see,
      %br/
      And then one day he invented a wonderful sausage machine.
    %p CHORUS
    %p
      \&nbsp;&nbsp;&nbsp;&nbsp;   Oh, Mister, Mister Dunderbeck how could you be so mean.
      %br/
      \&nbsp;&nbsp;&nbsp;&nbsp; I told you you'd be sorry for inventing that machine.
      %br/
      \&nbsp;&nbsp;&nbsp;&nbsp; Now all the neighbors cats and dogs will never more be   seen.
      %br/
      \&nbsp;&nbsp;&nbsp;&nbsp; For they've been ground to sausages in Dunderbeck's   machine.
    %p
      One day a boy came walking, came walking in   the store,
      %br/
      He bought a pound of sausages, and he laid them on the floor.
      %br/
      And the boy began to whistle, and he whistled up a tune,
      %br/
      And all the little sausages went dancing 'round the room.
    %p CHORUS
    %p
      One day the machine go   busted, the blame thing wouldn't go,
      %br/
      So Dunderbeck he climbed inside to see what made it so.
      %br/
      His wife she had a nightmare, and walking in her sleep,
      %br/
      She gave the crank a heck of a yank, and Dunderbeck was meat!
    %p CHORUS
    %h3
      %a{:name => "God Bless America"}>
      God Bless America
    %p
      God bless America, land that I love,
      %br/
      Stand beside her and guide her, through the night with a light from above.
      %br/
      From the mountains, to the prairies, to the oceans, white with foam,
      %br/
      God bless America, my home sweet home.
    %h3
      %a{:name => "If I Had A Hammer"}>
      If I Had A Hammer
    %p
      If I had a hammer
      %br/
      I'd hammer in the morning
      %br/
      I'd hammer in the evening..., all over this land
      %br/
      I'd hammer out danger
      %br/
      I'd hammer out a warning
      %br/
      I'd hammer out love between my brothers and my sisters
      %br/
      All over this land
    %p
      If I had a bell
      %br/
      I'd ring it in the morning
      %br/
      I'd ring it in the evening..., all over this land
      %br/
      I'd ring out danger
      %br/
      I'd ring out a warning
      %br/
      I'd ring out love between my brothers and my sisters
      %br/
      All over this land
    %p
      If I had a song
      %br/
      I'd sing it in the morning
      %br/
      I'd sing it in the evening..., all over this land
      %br/
      I'd sing out danger
      %br/
      I'd sing out a warning
      %br/
      I'd sing out love between my brothers and my sisters
      %br/
      All over this land
    %p
      Now I have a hammer
      %br/
      And I've got a bell
      %br/
      And I've got a song to sing..., all over this land
      %br/
      It's a hammer of justice
      %br/
      It's a bell of freedom
      %br/
      It's a song about love between my brothers and my sisters
      %br/
      All over this land
    %h3
      %a{:name => "If Youre Happy"}>
      If   You're Happy And You Know It
    %p
      If you're happy and you know it, clap your hands.
      %br/
      If you're happy and you know it, clap your hands.
      %br/
      If you're happy and you know it, and you really want to show it.
      %br/
      If you're happy and you know it, clap your hands.
    %p
      If   you're happy and you know it, stamp your feet.
      %br/
      If you're happy and you know it, stamp your feet.
      %br/
      If you're happy and you know it, and you really want to show it.
      %br/
      If you're happy and you know it, stamp your feet.
    %p
      If   you're happy and you know it, shout "Amen!"
      %br/
      If you're happy and you know it, shout "Amen!"
      %br/
      If you're happy and you know it, and you really want to show it.
      %br/
      If you're happy and you know it, shout "Amen!"
    %p
      If   you're happy and you know it, do all three.
      %br/
      If you're happy and you know it, do all three.
      %br/
      If you're happy and you know it, and you really want to show it.
      %br/
      If you're happy and you know it, do all three.
    %h3
      %a{:name => "Ive Got Six Pence"}>
      I've Got Six Pence
    %p
      I've got six pence, jolly, jolly six pence,
      %br/
      I've got six pence to last me all my life.
      %br/
      I've got two pence to lend,
      %br/
      And two pence to spend,
      %br/
      And two pence to send home to my wife, poor wife.
    %p CHORUS
    %p
      \&nbsp;&nbsp;&nbsp;&nbsp; No cares have I to   grieve me,
      %br/
      \&nbsp;&nbsp;&nbsp;&nbsp; No pretty little girls to deceive me,
      %br/
      \&nbsp;&nbsp;&nbsp;&nbsp; I'm as happy as a lark believe me,
      %br/
      \&nbsp;&nbsp;&nbsp;&nbsp; As we go rolling, rolling home.
      %br/
      \&nbsp;&nbsp;&nbsp;&nbsp; Rolling home, rolling home,
      %br/
      \&nbsp;&nbsp;&nbsp;&nbsp; By the light of the silvery moon.
      %br/
      \&nbsp;&nbsp;&nbsp;&nbsp; Happy is the day when the (counselors get their   pay)(campers go away)(counselors go away)
      %br/
      \&nbsp;&nbsp;&nbsp;&nbsp; As we go rolling, rolling home.
    %p
      I've got four pence, jolly, jolly four pence,
      %br/
      I've got four pence to last me all my life.
      %br/
      I've got two pence to lend,
      %br/
      And two pence to spend,
      %br/
      And no pence to send home to my wife, poor wife.
    %p CHORUS
    %p
      I've got two pence, jolly, jolly two pence,
      %br/
      I've got two pence to last me all my life.
      %br/
      I've got two pence to lend,
      %br/
      And no pence to spend,
      %br/
      And no pence to send home to my wife, poor wife.
    %p CHORUS
    %p
      I've got no pence, jolly, jolly no pence,
      %br/
      I've got no pence to last me all my life.
      %br/
      I've got no pence to lend,
      %br/
      And no pence to spend,
      %br/
      And no pence to send home to my wife, poor wife.
    %p CHORUS
    %h3
      %a{:name => "John Browns Ford"}>
      John Brown's   Ford
    %p
      John Brown's Ford had a puncture in its tire,
      %br/
      John Brown's Ford had a puncture in its tire,
      %br/
      John Brown's Ford had a puncture in its tire,
      %br/
      And he patched it up with chewing gum.
    %h3
      %a{:name => "Kum Ba Yah"}>
      Kum Ba   Yah
    %p
      Kum Ba Yah, my lord, Kum Ba Yah
      %br/
      Kum Ba Yah, my lord, Kum Ba Yah
      %br/
      Kum Ba Yah, my lord, Kum Ba Yah
      %br/
      Oh, lord, Kum Ba Yah
    %p
      Someone's crying, my lord, Kum   Ba Yah
      %br/
      Someone's crying, my lord, Kum Ba Yah
      %br/
      Someone's crying, my lord, Kum Ba Yah
      %br/
      Oh, lord, Kum Ba Yah
    %p
      Someone's singing, my lord, Kum   Ba Yah
      %br/
      Someone's singing, my lord, Kum Ba Yah
      %br/
      Someone's singing, my lord, Kum Ba Yah
      %br/
      Oh, lord, Kum Ba Yah
    %p
      Someone's praying, my lord, Kum   Ba Yah
      %br/
      Someone's praying, my lord, Kum Ba Yah
      %br/
      Someone's praying, my lord, Kum Ba Yah
      %br/
      Oh, lord, Kum Ba Yah
    %h3
      %a{:name => "Lord Said To Noah"}>
      Lord Said To Noah
    %p
      Lord said to Noah, "There's gonna be a floody, floody."
      %br/
      REPEAT
      %br/
      "Get your children out of the muddy, muddy."
      %br/
      Children of the Lord.
    %p
      So, Noah, he built them, he   built them an arky, arky.
      %br/
      REPEAT
      %br/
      Made it out of hickory barky, barky.
      %br/
      Children of the Lord.
    %p
      The animals, they came in,   they came in by twosies, twosies.
      %br/
      REPEAT
      %br/
      Elephants and kangaroosies, roosies.
      %br/
      Children of the Lord.
    %p
      It rained, it rained for forty   daysies, daysies.
      %br/
      REPEAT
      %br/
      Almost drove those animals crazy, crazy.
      %br/
      Children of the Lord.
    %p
      The sun, it came out, and   dried up the landy, landy.
      %br/
      REPEAT
      %br/
      Everything was fine and dandy, dandy.
      %br/
      Children of the Lord.
    %p
      The animals, they came off,   they came off by threesies, threesies.
      %br/
      REPEAT
      %br/
      Elephants and chimpanzeesies, zeesies.
      %br/
      Children of the Lord.
    %p
      So Rise, Shine, give God the   glory, glory.
      %br/
      REPEAT
      %br/
      Rise and Shine and give God the glory, glory.
      %br/
      Children of the Lord.
    %h3
      %a{:name => "MTA"}>     MTA
    %p
      %em>
        Prologue:
        %br/
        %br/
      These are the times that try men's souls.&nbsp; In the course of our   nation's history the people of Boston have rallied bravely whenever the rights   of men have been threatened.&nbsp; Today, a new crisis has arisen.&nbsp; The   Metropolitan Transit Authority, better know as the MTA, is attempting to levy a   burdensome tax on the population in the form of a subway fare increase.&nbsp;   Citizens, hear me out.&nbsp; This could happen to you!!!
    %p
      %em>
        Song:
        %br/
        %br/
      Well, let me tell you the story of a man named Charlie
      %br/
      On a tragic and fateful day
      %br/
      He put ten cents in his pocket, kissed his wife and family
      %br/
      Went to ride on the MTA
    %p CHORUS
    %p
      \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Well   did he ever return, no he never returned
      %br/
      \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; And his fate is still   unlearned (what a pity)
      %br/
      \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; He may ride forever 'neath   the streets of Boston
      %br/
      \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; He's the man who never   returned
    %p
      Charlie handed in his dime at the Kendall   Square station
      %br/
      And he changed for Jamaica Plain
      %br/
      When he got there, the conductor told him, "One more nickle!"
      %br/
      Charlie couldn't get off of that train.
    %p CHORUS (poor   old Charlie)
    %p
      Now all night long Charlie rides   through the station
      %br/
      Crying, "What will become of me?"
      %br/
      "How can I afford to see my sister in Chelsea?"
      %br/
      "Or my cousin in Roxbury?"
    %p CHORUS (shame and   scandal)
    %p
      Charlie's wife goes down to the Scollay   Square station
      %br/
      Every day at quarter past two
      %br/
      And through the open window she hands Charlie a sandwich
      %br/
      As the train comes rumblin' through
    %p CHORUS (he may   ride forever)
    %p
      Now you citizens of Boston don't you   think it's a scandal
      %br/
      How the people have to pay and pay
      %br/
      Fight the fare increase, vote for George O'Brian!
      %br/
      Get poor Charlie off the MTA!!!
    %p
      Or else he'll never   return, no he'll never return
      %br/
      And his fate is still unlearned (just like always)
      %br/
      He may ride forever 'neath the streets of Boston
      %br/
      He's the man who never returned
      %br/
      He's the man who never returned
      %br/
      He's the man who never returned
    %h3
      %a{:name => "Our Paddles"}>
      Our   Paddles Clean And Bright
    %p
      Our paddles clean and bright,
      %br/
      Flashing like silver.
      %br/
      Swift as the wild goose flight,
      %br/
      Dip, dip and swing.
    %p
      Dip, dip and swing them back,
      %br/
      Flashing like silver.
      %br/
      Swift as the wild goose flight,
      %br/
      Dip, dip and swing.
    %h3
      %a{:name => "Sipping Cider"}>
      Sipping Cider
    %p
      The cutest girl..., I ever saw...,
      %br/
      Was sipping cider through a straw.
      %br/
      The cutest girl I ever saw,
      %br/
      Was sipping cider through a straw.
    %p
      I asked her   if..., she'd show me how...,
      %br/
      To sip some cider through a straw.
      %br/
      I asked her if she'd show me how,
      %br/
      To sip some cider through a straw.
    %p
      So cheek to   cheek..., and jaw to jaw...,
      %br/
      We sipped that cider through a straw.
      %br/
      So cheek to cheek and jaw to jaw,
      %br/
      We sipped that cider through a straw.
    %p
      Then   suddenly..., that straw did slip...,
      %br/
      And I sipped cider through her lips.
      %br/
      Then suddenly that straw did slip,
      %br/
      And I sipped cider through her lips.
    %p
      The parson   sneaked..., through our backyard...,
      %br/
      To sip some cider through a straw.
      %br/
      The parson sneaked through our backyard,
      %br/
      To sip some cider through a straw.
    %p
      And now I've   got..., a mother-in-law...,
      %br/
      And sixteen kids to call me "Pa."
      %br/
      And now I've got a mother-in-law,
      %br/
      And sixteen kids to call me "Pa."
    %p
      The moral of...,   this little tale...,
      %br/
      Is sip your cider from a pail.
      %br/
      The moral of this little tale,
      %br/
      Is sip your cider from a pail.
    %h3
      %a{:name => "Star"}
      Star-spangled Banner
    %p
      Oh, say can you see, by the dawn's early light,
      %br/
      What so proudly we hailed at the twilight's last gleaming?
      %br/
      Whose broad stripes and bright stars through the perilous fight,
      %br/
      O're the ramparts we watched were so gallantly streaming.
      %br/
      And the rockets red glare, the bombs bursting in air,
      %br/
      Gave proof through the night that our flag was still there.
      %br/
      Oh, say does that star-spangled banner yet wave,
      %br/
      O've the land of the free, and the home of the brave?
    %h3
      %a{:name => "Taps"}>
      Taps
    %p
      Day is done, gone the sun,
      %br/
      From the lake, from the hills, from the sky.
      %br/
      All is well, safely rest,
      %br/
      God is nigh.
    %p
      Fading light, dims the sight,
      %br/
      And the star gems the sky, gleaming bright.
      %br/
      From above, drawing nigh,
      %br/
      Falls the night.
    %p
      Thanks and praise for our days,
      %br/
      'neath the sun, 'neath the stars, 'neath the sky.
      %br/
      As we go, this we know,
      %br/
      God is nigh.
    %p
      %a{:href => "http://www.netwoods.com/ceremonies/taps.html"} (the story of Taps  - The Bugle Call)
    %h3
      %a{:name => "Under the Spreading Chestnut Tree"}>
      Under the Spreading Chestnut   Tree
    %p
      Under the spreading chestnut tree.
      %br/
      I'm as happy as can be.
      %br/
      With my sweetie on my knee.
      %br/
      Under the spreading chestnut tree.
    %h3
      %a{:name => "When the Saints"}>
      When the Saints Go Marching In
    %p
      Oh, when the saints go marching in,
      %br/
      Oh, when the saints go marching in,
      %br/
      Oh, Lord, I want to be in that number,
      %br/
      When the saints go marching in.
    %p
      Oh, when the sun refuses to shine,
      %br/
      Oh, when the sun refuses to shine,
      %br/
      Oh, Lord, I want to be in the number,
      %br/
      When the sun refuses to shine.
    %p
      Oh, when the dead in Christ shall rise,
      %br/
      Oh, when the dead in Christ shall rise,
      %br/
      Oh, I want to be in that number,
      %br/
      When the dead in Christ shall rise.
