.grid_12
  .liner.shadow.rounded
    %h2 Board of Trustees

    %p
      The Board of Trustees is a concerned, active group of individuals close to
      the camp who meet at least four times a year to set policy, review operations,
      and, with the help of the Director, steer the course of the Camp.
    %p
      The Board of Trustees and Members of the Corporation have all had a close
      association with William Lawrence for many years: many were campers themselves,
      and still more are the parents of current and former campers and staff members.
    %ul
      %li
        = link_to 'Charles Cleary', 'mailto:Charles_Cleary@wadleighlaw.com'
        President<br />
        Home: 603-225-9427 (please, no calls after 9:00 PM)<br />
        Work: 603-669-4140
      %li Rev. Gail Avery
      %li Richard C. Brown, Immediate Past President Dennis J. Ceru, PhD
      %li Robert Gallagher
      %li Lucy N. Hancock
      %li Neil F. Hulbert
      %li Geoff McIntosh, Clerk
      %li Gail W. Jessup
      %li Frederick Kopff
      %li Steven Weeks
