---
title: "Board of Trustees at William Lawrence Overnight Summer Camp for Boys"
---

%style
  td { text-align: center }
  \.tiny { font-size: 9px; line-height: 11px }

.grid_12
  .liner.shadow.rounded
    %h2 Board of Trustees

    %p
      The Board of Trustees is a concerned, active group of individuals close to
      the camp who meet at least four times a year to set policy, review operations,
      and, with the help of the Director, steer the course of the Camp.
    %p
      The Board of Trustees and Members of the Corporation have all had a close
      association with William Lawrence for many years: many were campers themselves,
      and still more are the parents of current and former campers and staff members.

.grid_12
  %img.rounded.shadow{ :src => '/images/parents/trustees.jpg' }

.grid_12
  .liner.shadow.rounded
    %table{ style: 'width: 100%' }
      %tr
        %tdDennis J. Ceru
        %td Neil F. Hulbert
        %td Paul Bardelli
        %td Richard C. Brown
        %td Derick Copff
        %td W. Alan Harding
        %td Stephen Weeks
      %tr
        %td
        %td Lucy N. Hancock
        %td George Butterworth
        %td
          Charles Cleary
          .tiny.sans-serif{ style: 'font-weight: bold' } President
        %td Rev. Gail Avery
        %td Gail W. Jessup
        %td
