---
title: "Board of Trustees"
description: "As a not-for-profit, William Lawrence overnight camp for boys is governed by a group of active individuals close to camp with the best interests of the camp in mind.  They are parents, alumni, friends, and all an integral part of the William Lawrence Camp family."
---

%h1.page-heading.amatic
  = current_page.data.title

.liner.shadow.rounded
  .row
    .col-xs-12
      %p
        The Board of Trustees is a concerned, active group of individuals close to
        the camp who meet at least four times a year to set policy, review operations,
        and, with the help of the Director, steer the course of the Camp.
      %p
        The Board of Trustees and Members of the Corporation have all had a close
        association with William Lawrence for many years: many were campers themselves,
        and still more are the parents of current and former campers and staff members.
  %hr
  .row
    .col-xs-12
      %img.rounded{ src: 'images/trustees.jpg', alt: 'William Lawrence Camp board of trustees' }

      %table{ style: 'width: 100%; text-align: center;' }
        %tr
          %td Derick Kopff
          %td Mark Hyde
          %td Steve Weeks
          %td Neil Hulbert
          %td James Polese
          %td Bob Gallagher
      %table{ style: 'width: 100%; text-align: center;' }
        %tr
          %td Lucy Hancock
          %td Rick Brown
          %td Gail Avery
          %td Deb Clauson
          %td Charles Cleary
          %td Keith Schnaars
          %td Dennis Ceru
          %td Geoff McIntosh
      %table{ style: 'width: 100%; text-align: center;' }
        %tr
          %td Nat Crane
