---
title: "Personal Development at an Overnight Summer Camp"
description: "WLCS is more than just a saying at William Lawrence Camp, we try to incorporate those cornerstones into every activity around camp. Willingness, Loyalty, Comradeship, and Sportsmanship."
---

%style
  strong { font-size: 33px }

.grid_8.prefix_4
  .liner.shadow.rounded
    %h2 Camp Values

    %p
      Our camp values are based on what we call William Lawrence Camp Spirit:
    %ul.permanent-marker{ :style => 'list-style: none; font-size: 20px; line-height: 33px; padding-left: 0' }
      %li{ :style => 'padding-left: 30px' } <strong>W</strong>illingness
      %li{ :style => 'padding-left: 60px' } <strong>L</strong>oyalty
      %li{ :style => 'padding-left: 90px' } <strong>C</strong>omradeship
      %li{ :style => 'padding-left: 120px' } <strong>S</strong>portsmanship
