- content_for :subnavigation do
  = partial 'tradition/subnavigation'

.grid_8.prefix_4
  .liner.shadow.rounded
    %h2 Camp Values

    %p
      Our camp values are based on what we call William Lawrence Camp Spirit:
    %ul
      %li <strong>W</strong>illingness
      %li <strong>L</strong>oyalty
      %li <strong>C</strong>omradeship
      %li <strong>S</strong>portsmanship
