%li.dropdown
  %a.dropdown-toggle{'data-toggle' => 'dropdown'}
    .unselectable 
      Parents
      %b.caret
  %ul.dropdown-menu
    %li=link_to  'Camper Care', '/parents/camper-care.html'
    %li=link_to  'Directions', '/parents/directions.html'
    %li=link_to  'Enrollment Information', '/parents/enrollment-information.html'
    %li=link_to  'Our Staff', '/parents/our-staff.html'
    %li=link_to  'Sessions &amp; Tuition', '/parents/sessions-tuitions.html'
    %li=link_to  'Store', 'http://www.amerasport.com/WILLIAM-LAWERENCE/departments/24/', target: :blank
    %li=link_to  'Why WLC?', '/parents/why-wlc.html'
    %li=link_to  'Testimonials', '/parents/testimonials.html'
    %li=link_to  'Girls Camps?', '/parents/girls-camp.html'
