%li.dropdown
  %a.dropdown-toggle{'data-toggle' => 'dropdown'}
    .unselectable
      Parents
      %b.caret
  %ul.dropdown-menu
    %li=link_to  'Dates &amp; Rates', '/parents/dates-rates.html'
    %li=link_to  'Enrollment Information', '/parents/enrollment-information.html'
    %li=link_to  'Camper Care', '/parents/camper-care.html'
    %li=link_to  'Directions', '/parents/directions.html'
    %li=link_to  'Why WLC?', '/parents/why-wlc.html'
    %li=link_to  'Our Staff', '/parents/our-staff.html'
    %li=link_to  'Testimonials', '/parents/testimonials.html'
    %li
      %a{href: 'http://www.amerasport.com/WILLIAM-LAWERENCE/departments/24/', target: :blank}
        Store&nbsp;
        %i.fa.fa-external-link
    %li=link_to  'Girls Camps?', '/parents/girls-camp.html'
