---
title: "Summer Camp Saftey and Camper Care at William Lawrence"
description: "At William Lawrence Camp we feel that there is nothing more important than the physical and emotional well-being of all the camper's under our care.  That is why all of our staff are extensively trained to handle just about any situation that might pop up at a boys overnight summer camp.  But more than that, our central staff have years of experience in child care, social work, and the inner workings of over night summer camps."
---

.grid_12
  .liner.shadow.rounded
    %h2 Camper Care

    %p
      Camper accommodation is organized into three grade-based units:
      Juniors are entering 3rd-6th grades; Middlers 7th and 8th; Seniors 9th and 10th.
      == The #{link_to 'screened-in cabins', '/tour/cabins.html'} generally house 8 campers each,
      with at least 2 staff members in separate attached quarters.
      Each unit has access to its own washhouse with showers and bathroom facilities.

    %p
      William Lawrence observes the health and safety standards of the
      == #{link_to 'American Camping Association', 'http://find.acacamps.org/cgi/details.cgi?id=6119'}
      and the State of New Hampshire. All campers and staff are required to have an updated medical history
      form at the beginning of each season, which is kept on file by our
      == Registered Camp Nurse in the #{link_to 'Infirmary', '/tour/infirmary.html'}.
      Our camp doctor is always on call, Huggins Hospital is only fifteen minutes away,
      and 9-1-1 is at camp within minutes of a call, should such need arise.
      If a camper requires medical attention, his parents will be notified immediately.
      The safety and health care of the campers is the highest priority at William Lawrence Camp.
      The staff carefully supervise campers throughout the day,
      and cabin leaders monitor the personal health and hygiene of their campers.

    %p
      Campers are encouraged to bring clothing appropriate for the active camp lifestyle,
      as well as a large trunk to store it in. Campers&rsquo; laundry is done every Thursday,
      and the camp store is open regularly should they desire any camp apparel,
      or essentials such as shampoo, toothpaste, or batteries.

    %p
      == At #{link_to 'meals', '/tour/dining-hall.html'}, campers sit with their cabin mates
      and leaders to enjoy the perennially delicious food as prepared by our camp chef.
      The meals are well balanced to include fruits, vegetables, and the carbs and proteins
      necessary to sustain them in their active lifestyle, and every meal has fruit and vegetarian options.
