---
title: "Tuition, Scholarships and Session Dates | William Lawrence Camp For Boys"
description: "William Lawrence Camp is a traditional overnight summer camp for boys in Center Tuftonboro, New Hampshire.  Important dates and tuition information for the 2014 season."
---

%style
  th.sans-serif { text-align: left; font-size: 11px; line-height: 18px; padding-top: 4px; color: #424242 }
  th, td { padding: 0 }
  \#tuition td,
  \#tuition .center { text-align: center }

.row
  .col-xs-12
    .liner.shadow.rounded
      %h2 Sessions for 2016

      .table-responsive
        %table.table.table-striped.table-bordered.table-condensed{ :style => 'width: 700px' }
          %tr
            %th
            %th.sans-serif Begins
            %th.sans-serif Ends
            %th.sans-serif Tuition <br> Enroll by 21/1
            %th.sans-serif Tuition <br> Regular
          %tr
            %th.sans-serif Full Session (7 weeks)
            %td June 26th
            %td August 23th
            %td $4950
            %td $5250
          %tr
            %th.sans-serif First Session (4 weeks)
            %td June 26th
            %td July 23th
            %td $3095
            %td $3395
          %tr
            %th.sans-serif Second Session (3 weeks)
            %td July 24th
            %td August 13th
            %td $2395
            %td $2695
          %tr
            %th.sans-serif Combo Session (5 weeks)
            %td July 10th
            %td August 13th
            %td $3695
            %td $3995
      %br
      %h3 Two Week Options

      %p
        All two week options have a regular tuition of $1995 and an
        introdcutory tuition for new campers of $1795.  Avaliable two week
        sessions are:
      %ul
        %li June 26 - July 9
        %li July 10 - July 23
        %li July 24 - August 6
        %li July 31 - August 13

      %h3 Other programs
      .table-responsive
        %table.table.table-striped.table-bordered.table-condensed{ :style => 'width: 700px' }
          %tr
            %th Program
            %th Dates
            %th Tuition
          %tr
            %td
              %strong One Week Starter Program
              %br
              First time campers in grades 2-5
            %td 8/7 - 8/13
            %td $950
          %tr
            %td
              %strong Leader In Training Program
              %br
              Entering 11th grade.  Must Apply
              %br
              International participants must be 17 years old on 6/1
            %td 6/25 - 8/13
            %td $2625




      %p
        The above tuition does not include a recommended $75 - $150 for personal activities
        and store purchases (per four-week session).

      %p
        Partial scholarships may be available for families in need of assistance.
        There is also a discount of $200 per additional sibling attending a full
        session, which is 3, 4, 5, or 7 weeks.

      %p
        Please use our
        = link_to 'Camper Enrollment Application', '/enroll.html'
        to enroll your son.
