---
title: "Directions to William Lawrence Camp"
description: "William Lawrence Camp is a traditional overnight summer camp for boys in Center Tuftonboro, New Hampshire.  It is important that you do not rely on your GPS unit when coming to camp, but instead rely on these directions."
---

.row.col-xs-12
  .liner.shadow.rounded
    %h2 Directions

    %p
      %strong PLEASE NOTE: DO NOT USE GPS!

    %p
      <strong>From Massachusetts</strong>, travel north on I-95  to Portsmouth, NH.
      Take the Spaulding Turnpike toward NH Lakes & Mountains. In Rochester, take
      the Rte 11 West exit for Lake Winnipesaukee toward Alton. At the Alton traffic
      circle, take Rte 28 north to Wolfeboro. In Wolfeboro, take a sharp right at the
      Gulf station/Three Sisters Store, staying on Rte 28. After one mile, bear left
      onto Rte 109A toward Ctr. Tuftonboro. Follow Rte 109A approximately 5 miles to
      the Tuftonboro General Store on your left. Across from the store, go right onto
      Federal Corner Road. Proceed straight for 2 miles (the paved road changes to a
      dirt road) to the camp driveway on your right.

    %p
      <strong>An alternate route is via I-93.</strong> Proceed north to Concord, NH.
      In Concord, take I-393 east, which eventually becomes routes 4, 9 and 202. Take
      this to the Epsom traffic circle. At the circle, go north on Rte 28. Follow Rte
      28 to Wolfeboro and proceed according to the directions above.

    %p
      <strong>To avoid Wolfeboro</strong> (which is often gridlocked on weekends in the
      summertime), take Rt. I-95 via Portsmouth NH onto the Spaulding Turnpike. Instead
      of getting off at the Rt. 11 exit, continue north on Rt.-16 (the Spaulding Turnpike
      becomes Rt-16 in Rochester NH). From Rochester, travel approximately 20 miles to
      Route 109. At the stop light, go left onto Rt. 109. Go approximately 10 miles to
      the intersection of routes 109 and 28. Go straight across onto North Line Road.
      Go approximately two miles to the stop sign at Beech Pond Road. Go right onto Beech
      Pond Road, travel approximately 1.5 miles to intersection with Brown Road (road
      surface will change to dirt and back to pavement just before intersection). Go
      left onto Brown Road. Go approximately 1.5 miles to 3 way stop sign at Federal
      Corner Road. Go right onto Federal Corner Road. Camp is a mile up on the right.
