---
title: "Family Summer Camp | William Lawrence Camp"
description: "Family camp at William Lawrence camp is a unique experiences for campers and their parents to be plunged into our fantastic program for a week."
---

.grid_12
  .liner.shadow.rounded
    %h2 Family Camp

    %p
      Just because traditional camp ends, it doesn&rsquo;t mean camp is over:
      come on back with the whole family! Every year in August we open up camp
      for families to stay in cabins themselves, so everybody can get the camp experience.
    %p
      We&rsquo;ll have all the activities of regular camp open &mdash; you can jump in as a whole family,
      or children can enjoy our well-supervised activities independently while the adults can get their own camp experience.
      No matter what you choose to do, you can be sure to refuel at each meal on our healthy,
      == delicious food offerings. Each #{link_to 'meal', '/tour/dining-hall.html'} has fruit and vegetarian options,
      and we have a full salad bar for lunch and dinner.
    %p
      Come to William Lawrence and let your family become a part of ours.
