.grid_12
  .liner.shadow.rounded
    %h2 Family Camp

    %p
      Just because traditional camp ends, it doesn&rsquo;t mean camp is over:
      come on back with the whole family! Every year in August we open up camp
      for families to stay in cabins themselves, so everybody can get the camp experience.
    %p
      We&rsquo;ll have all the activities of regular camp open &mdash; you can jump in as a whole family,
      or children can hang out in Kid&rsquo;s Camp while the adults can get their own camp experience.
      No matter what you choose to do, you can be sure to refuel at each meal on our healthy,
      delicious food offerings. Each meal has fruit and vegetarian options,
      and we have a full salad bar for Lunch and Dinner.
    %p
      Come to William Lawrence and let your family become a part of ours.
