---
title: "Sports Summer Camp for Street Hockey, Soccer, Baseball, Basketball, Tennis and Lacrosse"
---

.grid_6
  .liner.shadow.rounded
    %h2 For Campers
    %h3 Can I be in a cabin with my friends?
    %p
      When you are applying for camp you can make a request to have a friend in your cabin.  We are not always able to fulfil your requests, but that only gives you a chance to make new friends.  We typically do not put you in a cabin with your brother, unless you specificity request it.
    %h3 Will I have to do chores?
    %p Every day after breakfast, we set aside some time for you to make your bed and, with the help of your bunk mates, clean up the cabin for the day.

    %h3 Do I get to choose my own activities?
    %p Every Sunday, during your unit's campfire between marshmallows, you will get to choose what you will be doing for the week ahead from several choices.  By giving you a week of instruction, we ensure that we can give you a depth of skills that some other traditional camps just don't give.  We also ensure that, during your stay at camp, you get to participate in the top 3 activities you listed when applying.  The only class we require is swimming.


.grid_6
  .liner.shadow.rounded
    %h2 For Parents

    %p
      Take a slap shot, play a scrimmage, practice your passing: at our top-notch
      Street Hockey court, you can do it all. We&rsquo;ll teach you anything you want to
      know about the fast-paced game of Street Hockey, no matter what your previous skill level;
      so shoot away, you can&rsquo;t miss!
