---
title: "Girls Camps"
description: "William Lawrence Camp is a traditional overnight summer camp
for boys in Center Tuftonboro, New Hampshire.  We also have recommendations for
local and affiliated girls camp."
---

%h1.page-heading.amatic
  = current_page.data.title

.liner.shadow.rounded
  .row
    .col-md-12
      %p
        Are you looking for a camp for your daughter? Nat Crane, our Executive Director,
        has over 25 years of experience with camps in and around New Hampshire and would be happy to talk
        with you about an appropriate camp for your daughter. William Lawrence has a long,
        rich history with our sister camp,
        = link_to 'Fleur de Lis Camp', 'http://www.fleurdeliscamp.org/'
        in Fitzwilliam NH, so please be sure to check
        them out. Or perhaps you are looking at other camps for your daughter or a camp
        close by and would like some feedback.  Either way, feel free to
        = link_to 'contact us', '/contact-us'
        online or call us at 603-569-3698 during regular business hours.
