---
title: "Our Staff"
description: "At William Lawrence Camp we consider effective, compassionate leaders to be a cornerstone to our mission.  All of our staff receive a minimum of one week of intense training in how to handle all the situations they might encounter over the summer.  Also, staff responsible for activity areas such as Archer, Riflery, Skeet shooting, Swimming, and Tripping all receive pertinent certifications from the CMP, Red Cross, and Mountaineering organizations.  William Lawrence Camp also has one of the best Camper to Staff ratio."
---

%h1.page-heading.amatic
  = current_page.data.title

.liner.shadow.rounded
  .row
    .col-xs-12
      %p
        At William Lawrence, we consider effective, compassionate leadership to be a
        cornerstone of our mission: from our senior staff to our Leaders-In-Training,
        we are perpetually mindful of what it means to be a leader.
        Our mature, well-trained staff at William Lawrence Camp are dedicated to the safety,
        well-being, and positive growth of today&rsquo;s youth.
        Led by a senior staff with professional experience in family counseling,
        social work, teaching, and health care, we boast a better than 3:1 camper to staff ratio.
        Our cabin leaders are chosen for their understanding of camp life,
        maturity, and ability to provide appropriate guidance for the many challenges that boys face today.
        The cabin leader core consists largely of former campers,
        who have come up through our Leader in Training program,
        balanced by a diverse array of foreign staff in order to provide opportunities
        for campers to develop themselves as international citizens.

      %img{ :src => '/images/parents/our-staff.jpg', :alt => 'professional camp staff'}

      %p
        To ensure consistency in approach and performance, all of our staff participate
        in a pre-camp training week, as well as receiving on-going training throughout the summer.
        Our program staff are certified in their respective areas during off-season seminars:
        == #{link_to 'Riflery', '/tour#riflery'} and #{link_to 'Archery', '/tour#archery'}
        instructors are given specific training in range operation, safety procedures,
        == and teaching techniques; #{link_to 'Waterfront', '/tour#waterfront'} staff are
        Red Cross certified lifeguards and swim instructors; trip leaders are lifeguard trained,
        as well as being certified in Wilderness First Aid and CPR.
