---
title: "Highest Camper to Staff Ratio at an Overnight Summer Camp"
description: "William Lawrence Camp is a traditional overnight summer camp for boys in Center Tuftonboro, New Hampshire. We consider effective, compassionate leaders to be a cornerstone to our mission."
---

.grid_12
  .liner.shadow.rounded
    %h2 Our Staff

    %p
      At William Lawrence, we consider effective, compassionate leadership to be a
      cornerstone of our mission: from our senior staff to our Leaders-In-Training,
      we are perpetually mindful of what it means to be a leader.
      Our mature, well-trained staff at William Lawrence Camp are dedicated to the safety,
      well-being, and positive growth of today&rsquo;s youth.
      Led by a senior staff with professional experience in family counseling,
      social work, teaching, and health care, we boast a better than 3:1 camper to staff ratio.
      Our cabin leaders are chosen for their understanding of camp life,
      maturity, and ability to provide appropriate guidance for the many challenges that boys face today.
      The cabin leader core consists largely of former campers,
      who have come up through our Leader in Training program,
      balanced by a diverse array of foreign staff in order to provide opportunities
      for campers to develop themselves as international citizens.

.grid_12
  %img.rounded.shadow{ :src => '/images/parents/our-staff.jpg' }

.grid_12
  .liner.shadow.rounded
    %p
      To ensure consistency in approach and performance, all of our staff participate
      in a pre-camp training week, as well as receiving on-going training throughout the summer.
      Our program staff are certified in their respective areas during off-season seminars:
      == #{link_to 'Riflery', '/tour/riflery-skeet.html'} and #{link_to 'Archery', '/tour/archery.html'}
      instructors are given specific training in range operation, safety procedures,
      == and teaching techniques; #{link_to 'Waterfront', '/tour/waterfront.html'} staff are
      Red Cross certified lifeguards and swim instructors; trip leaders are lifeguard trained,
      as well as being certified in Wilderness First Aid and CPR.
