---
title: "Summer Camp Scholarships, Tuition and Camp Session Dates"
---

%style
  th.sans-serif { text-align: left; font-size: 11px; line-height: 18px; padding-top: 4px; color: #424242 }
  th, td { padding: 0 }
  \#tuition td,
  \#tuition .center { text-align: center }

.grid_12
  .liner.shadow.rounded
    %h2 Sessions for 2014

    %table{ :style => 'width: 600px' }
      %tr
        %td
        %th.sans-serif Begins
        %th.sans-serif Ends
      %tr
        %th.sans-serif Seven-week Session
        %td Sunday, June 29th
        %td Sunday, August 17th
      %tr
        %th.sans-serif Four-week Session I
        %td Sunday, June 29th
        %td Saturday, July 26th
      %tr
        %th.sans-serif Three-week Session II
        %td Sunday, July 27th
        %td Sunday, August 17th
      %tr
        %th.sans-serif Combo Session
        %td Sunday, July 13th
        %td Sunday, August 17th

    %p
      In addition to the schedule above,
      we also offer limited two-week options on the following dates:

    %ul
      %li
        June 29 - July 12<br />
        Available for first time Juniors and Middlers at all Tier pricing.  <br />
        Available for returning Juniors & Middlers at Tier A pricing only.
      %li 
        July 13 - July 26<br />
        Available for first time Juniors and Middlers at all Tier pricing.  
      %li 
        July 27 - August 9<br />
        Available for first time Juniors and Middlers at all Tier pricing.  <br />
        Available for returning Juniors & Middlers at Tier A pricing only.
    %h2 Tuition for 2014
    %table#tuition{ :style => 'width: 600px' }
      %tr
        %td
        %th.center.sans-serif 7 week session
        %th.center.sans-serif 4 week session
        %th.center.sans-serif 3 week session
        %th.center.sans-serif 2 week session
      %tr
        %th.sans-serif Tier A (Full tuition)
        %td $5,250
        %td $3,400
        %td $2,725
        %td $2,400
      %tr
        %th.sans-serif Tier B (Partial sub.)
        %td $5,050
        %td.na n/a
        %td $2,525
        %td $1,975
      %tr
        %th.sans-serif Tier C (Scholarship)
        %td.na n/a
        %td.na n/a
        %td $2,325
        %td.na n/a

    %p
      The above does not include a recommended $75 - $150 for personal activities
      and store purchases (per four-week session).

    %p
      Sibling Discount of $200 per additional child when attending a full session.

    %p
      = link_to 'Download the Camper Enrollment Application', '/parents/forms.html'
