- content_for :subnavigation do
  = partial 'parents/subnavigation'

.grid_12
  .liner.shadow.rounded
    %h2 Sessions and Tuitions for 2012

    %table
      %tr
        %td
        %th Begins
        %th Ends
      %tr
        %th Seven-week Session
        %td Sunday, June 24th
        %td Sunday, August 12th
      %tr
        %th Four-week Session I
        %td Sunday, June 24th
        %td Saturday, July 21st
      %tr
        %th Three-week Session II
        %td Sunday, June 22nd
        %td Sunday, August 12th

    %p
      In addition to the schedule above,
      we also offer limited two-week options on the following dates:

    %ul
      %li
        June 24 - July 7:
        Available to <em>returning</em> Junior and Middler campers
        as space permits and at Tier A pricing <em>only</em>.
      %li July 8 - July 21
      %li
        July 22 - August 4:
        Available to <em>first-time</em> Senior campers as space permits
        and at Tier A pricing <em>only</em>.

    %p
      All two-week options are available for <em>first-time</em>
      Junior and Middler campers currently in grades two through seven as space permits.

    %table
      %tr
        %th 7 week session
        %td
          Tier A (full tuition)<br />
          Tier B (partial subsidy)<br />
          Tier C (scholarship)
        %td
          $4,900<br />
          $4,700<br />
          $4,500
      %tr
        %th 4 week session
        %td
          Tier A (full tuition)<br />
          Tier B (partial subsidy)
        %td
          $3,175<br />
          $2,975
      %tr
        %th 3 week session
        %td
          Tier A (full tuition)<br />
          Tier B (partial subsidy)<br />
          Tier C (scholarship)
        %td
          $2,725<br />
          $2,525<br />
          $2,325
      %tr
        %th 4 week session
        %td
          Tier A (full tuition)<br />
          Tier B (partial subsidy)
        %td
          $1,975<br />
          $1,775

    %p
      The above does not include a recommended $75 - $150 for personal activities
      and store purchases (per four-week session).

    %p
      Tuition credit of $100 for each additional family member attending for a minimum of three (3) weeks;
      $50 for a minimum of two (2) weeks.

    %p
      You can download the Camper application form from the Camper forms webpage.
