---
title: "Tuition, Scholarships and Session Dates | William Lawrence Camp For Boys"
description: "William Lawrence Camp is a traditional overnight summer camp for boys in Center Tuftonboro, New Hampshire.  Important dates and tuition information for the 2014 season."
---

%style
  th.sans-serif { text-align: left; font-size: 11px; line-height: 18px; padding-top: 4px; color: #424242 }
  th, td { padding: 0 }
  \#tuition td,
  \#tuition .center { text-align: center }

.grid_12
  .liner.shadow.rounded
    %h2 Sessions for 2015

    %table{ :style => 'width: 600px' }
      %tr
        %td
        %th.sans-serif Begins
        %th.sans-serif Ends
      %tr
        %th.sans-serif Seven-week Session
        %td Sunday, June 28th
        %td Saturday, August 15th
      %tr
        %th.sans-serif Four-week Session I
        %td Sunday, June 28th
        %td Saturday, July 25th
      %tr
        %th.sans-serif Three-week Session II
        %td Sunday, July 26th
        %td Saturday, August 15th
      %tr
        %th.sans-serif Combo Session
        %td Sunday, July 12th
        %td Saturday, August 15th

    %p
      In addition to the schedule above,
      we also offer limited two-week options for Juniors 
      and Middlers on the following dates:

    %ul
      %li
        June 28 - July 11
      %li 
        July 12 - July 25
      %li 
        July 26 - August 8
        
    %h2 Tuition for 2015
    %table#tuition{ :style => 'width: 200px' }
      %tr
        %th.center.sans-serif 7 week session
        %td $5,250
      %tr
        %th.center.sans-serif 5 week session
        %td $4,000
      %tr
        %th.center.sans-serif 4 week session
        %td $3,400
      %tr
        %th.center.sans-serif 3 week session
        %td $2,725
      %tr
        %th.center.sans-serif 2 week session
        %td $2,200
    %p
      The above does not include a recommended $75 - $150 for personal activities
      and store purchases (per four-week session).

    %p
      William Lawrence Camp is proud to offer subsidies and scholarships to familes 
      who need assistance.  There is also a rebate of $250 per additional sibling 
      attending a session of 3 or more weeks.

    %p
      = link_to 'Download the Camper Enrollment Application', '/parents/forms.html'
