---
title: "Summer Camp Scholarships, Tuition and Camp Session Dates"
---

%style
  th.sans-serif { text-align: left; font-size: 11px; line-height: 18px; padding-top: 4px; color: #424242 }
  th, td { padding: 0 }
  \#tuition td,
  \#tuition .center { text-align: center }

.grid_12
  .liner.shadow.rounded
    %h2 Sessions and Tuitions for 2013

    %table{ :style => 'width: 600px' }
      %tr
        %td
        %th.sans-serif Begins
        %th.sans-serif Ends
      %tr
        %th.sans-serif Seven-week Session
        %td Sunday, June 23rd
        %td Sunday, August 11th
      %tr
        %th.sans-serif Four-week Session I
        %td Sunday, June 23rd
        %td Saturday, July 20th
      %tr
        %th.sans-serif Three-week Session II
        %td Sunday, July 21st
        %td Sunday, August 11th
      %tr
        %th.sans-serif Combo Session
        %td Sunday, July 7th
        %td Sunday, August 11th

    %p
      In addition to the schedule above,
      we also offer limited two-week options on the following dates:

    %ul
      %li
        June 23 - July 6<br />
        For <em>returning</em> Juniors or Middlers
        and Seniors that <em>are new to camp</em>
        as space permits at Tier A pricing only.
      %li July 7 - July 20
      %li July 21 - August 3

    %p
      All two-week options are available for <em>first-time</em>
      Juniors and Middlers currently in 2nd-7th grade as space permits.

    %p
      Combo Session only available to returning campers.

    %table#tuition{ :style => 'width: 600px' }
      %tr
        %td
        %th.center.sans-serif 7 week session
        %th.center.sans-serif 4 week session
        %th.center.sans-serif 3 week session
        %th.center.sans-serif 2 week session
      %tr
        %th.sans-serif Tier A (Full tuition)
        %td $5,250
        %td $3,400
        %td $2,725
        %td $2,400
      %tr
        %th.sans-serif Tier B (Partial sub.)
        %td $5,050
        %td.na n/a
        %td $2,525
        %td $1,975
      %tr
        %th.sans-serif Tier C (Scholarship)
        %td.na n/a
        %td.na n/a
        %td $2,325
        %td.na n/a

    %p
      The above does not include a recommended $75 - $150 for personal activities
      and store purchases (per four-week session).

    %p
      Tuition credit of $200 for each additional family member attending for a minimum of three (3) weeks.

    %p
      = link_to 'Download the Camper Enrollment Application', '/parents/forms.html'
