---
title: "Summer Camp Parent Testimonials"
description: "William Lawrence Camp is a traditional overnight summer camp for boys in Center Tuftonboro, New Hampshire.  Listen to what parents have to say about William Lawrence Camp."
---

.grid_12
  .shadow.rounded.video= vimeo 50083513, 12
