---
title: "Parent Testimonials | William Lawrence Camp"
description: "William Lawrence Camp is a traditional overnight summer camp for boys in Center Tuftonboro, New Hampshire.  Listen to what parents have to say about William Lawrence Camp."
---

.row
  .col-sm-12
    = vimeo 50083513
