---
title: "Parent Testimonials"
description: "William Lawrence Camp is a traditional overnight summer camp for boys in Center Tuftonboro, New Hampshire.  Listen to what parents have to say about William Lawrence Camp."
---

%h1.page-heading.amatic
  = current_page.data.title

.row
  .col-sm-12
    .with-bottom-margin
      = vimeo 50083513
