.container_12
  .grid_6
    %img.rounded.shadow{ src: '/images/home/hike-a-mountain.jpg', alt: 'canoe-a-river', width: 460, height: 330 }
  .grid_6
    .liner.shadow.rounded
      %h2 Why a traditional camp
      %p
        It all comes down to balance.  We feel that in order for your son to
        have a fun experience this summer, he needs to be exposed to a vast and balanced
        array of activities and programs: both instructional and just for fun,
        carefully planned and spontaneous.  This helps him develop, make friends,
        learn new skills, and stay engaged.
      %p
        To that end we offer detailed instruction in over 15 discrete activities
        from archery and riflery, to swimming and boating, to wilderness skills.
        And, because of our great camper-to-staff ratio and status as a non-profit,
        we are able to have our instructors specialize in their activity
        area.  This gives our staff the opportunity to fine-tune their instruction to make
        it fun as well as effective.

.container_12
  .grid_6
    .liner.shadow.rounded
      %h2 Why William Lawrence
      %p
        At William Lawrence overnight summer camp, we believe that the best way for boys to
        learn and build self-confidence is through being active, having fun, making friends,
        and participating in their favorite activities.

      %p
        Each week, our campers get to choose what activities they receive
        instruction in for the week ahead. This gives campers the ability
        to spend time with friends while learning something new.

      %p
        With over 100 years of experience and
        #{link_to "expertly trained traditional camp staff", "/parents/our-staff.html"},
        you can feel confident that your boy will have a summer
        which he will remember for the rest of his life &mdash; full of fun, friendship and new skills!
  .grid_6
    %img.rounded.shadow{ src: '/images/home/canoe-a-river.jpg', alt: 'canoe-a-river', width: 460, height: 330 }
= partial "../shared/trifecta"
