---
title: "Learn Archery This Summer | William Lawrence Camp for Boys"
description: "At William Lawrence Camp our archery program caters to
both novices and experts in a top of the line covered range.
During week-long instructional classes boys can learn how to shoot
like experts, taught by at least two trained archery instructors
for a class of ten children.  And during free swim, boys can
shoot for fun or qualifications."
---
.grid_12.tagline-and-countdown
  .tagline.permanent-marker Do Something This Summer!
  .tagline.permanent-marker William Lawrence Camp

.container_12
  .grid_6
    .liner.shadow.rounded
      %h2 Learn Archery This Summer!

      %p
        We have one of the best archery programs among summer camps in the area.
        Our beautiful covered range has the capacity for 16 shooters at
        a time and provides archers the ability to shoot at a range
        of up to 50 meters, long enough to challenge even the best of archers.
        Our range is stocked with right-handed and left-handed traditional recurve bows,
        high quality arrows, stabilizers, finger and arm guards, sights and much more.
        Our range provides an ideal location for instruction.
      %p
        Our week-long archery classes are taught by
        National Archery Association certified instructors.
        A typical class consists of a maximum of 10 campers, a range master,
        an assistant instructor, and a range assistant.  This ensures the high
        camper-to-staff ratio required to provide constant supervision and
        high quality instruction.  Classes typically cover safety, proper form,
        aiming techniques, and, provided there is an interest, maintenance and mechanics
        of both bow and arrow.

  .grid_6
    .shadow.rounded.video= vimeo 31092796, 6

= partial "wlc-copy"
