---
title: "Learn Fly Fishing This Summer | William Lawrence Camp for Boys"
description: "At William Lawrence Camp our fly fishing program is
unique to the area.  We cover all the basics of fly fishing and fly tying."
---
.grid_12.tagline-and-countdown
  .tagline.permanent-marker Do Something This Summer!
  .tagline.permanent-marker William Lawrence Camp

.container_12
  .grid_6
    .liner.shadow.rounded
      %h2 Learn How to Fly Fish!

      %p
        There’s nothing better than the push and pull of the fly line and
        the sight of a fish rising to that perfectly placed fly. At
        William Lawrence Camp, our knowledgeable instructors will teach you
        about the dynamics behind a fly rod and fly line, how to cast,
        the various knots used and give insight into the flies that we are using.
        Whether presenting a dry fly or stripping a streamer, you’ll learn the fundamentals of
        fly fishing, and there’s always the chance of catching a nice bass or trout.
      %p
        We also offer fly tying instruction, where we teach you how
        to tie a variety of flies including a wooly bugger, a Mickey Finn,
        a hares ear nymph and a caddis dry fly. Everyone works at their own
        fly tying bench complete with vice, bobbin, thread and all the material
        needed to create your own flies. Along the way, we learn about the
        difference between a dry fly, a streamer and a nymph.


  .grid_6
    %img.rounded.shadow{ src: '/images/adwords/fly-fishing-trip.jpg', alt: 'Learning how to fly fish', width: 460, height: 330 }

= partial "wlc-copy"
