/ Begin MailChimp Signup Form
%link{:href => "//cdn-images.mailchimp.com/embedcode/slim-081711.css", :rel => "stylesheet", :type => "text/css"}
#mc_embed_signup
  %form#mc-embedded-subscribe-form.validate{:action => "//wlcamp.us2.list-manage.com/subscribe/post?u=5a0e41f53f41ca50769c11bc8&amp;id=7f200294f2", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
    #mc_embed_signup_scroll
      %label{:for => "mce-EMAIL", :style=>"margin-bottom:0px;padding-bottom:0px;"} Prospective Parents
      %p Subscribe For More Info
      %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "Email Address", :required => "", :type => "email", :value => "", :style => "width:100%;padding-top:2px;padding-bottom:2px;max-width:350px;"}
      %div{:style => "position: absolute; left: -5000px;"}
        %input{:name => "b_5a0e41f53f41ca50769c11bc8_7f200294f2", :tabindex => "-1", :type => "text", :value => ""}/
      .clear
        %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
/ End mc_embed_signup