%form{ action: "//wlcamp.us2.list-manage.com/subscribe/post?u=5a0e41f53f41ca50769c11bc8&amp;id=7f200294f2", method: "post", target: "_blank" }
  %h2{ style: "text-transform: uppercase; font-size: 0.8em; letter-spacing: 1px" } Prospective Parents

  %div{ style: "position: absolute; left: -5000px;"}
    %input{ name: "b_5a0e41f53f41ca50769c11bc8_7f200294f2", tabindex: "-1", type: "text", value: "" }/

  .form-group
    %label{ style: "display: block;" } Subscribe for more info

    .row
      .col-xs-8{ style: "padding-right: 0;" }
        %input.form-control{ name: "EMAIL", placeholder: "Email address", type: "email", value: "" }
      .col-xs-4{ style: "padding-left: 0;" }
        %input.btn.btn-default.btn-block{ name: "subscribe", type: "submit", value: "Subscribe" }/

  .form-group
