%form{ action: "//wlcamp.us2.list-manage.com/subscribe/post?u=5a0e41f53f41ca50769c11bc8&amp;id=7f200294f2", method: "post", target: "_blank" }
  %div{ style: "position: absolute; left: -5000px;"}
    %input{ name: "b_5a0e41f53f41ca50769c11bc8_7f200294f2", tabindex: "-1", type: "text", value: "" }/

  .form-group
    %label{ style: "font-weight: normal;" } Subscribe to learn more:

    .input-group
      %input.form-control{ name: "EMAIL", placeholder: "Email address", type: "email", value: "" }
      .input-group-btn
        %input.btn.btn-default{ name: "subscribe", type: "submit", value: "Subscribe" }/
