.grid_6
  .liner.shadow.rounded
    %h2 Camp Spirit

    %p
      We get loud. We get crazy. We guarantee a meal in our
      == #{link_to 'Dining Hall', '/tour/dining-hall.html'} is like nothing
      you&rsquo;ve ever experienced before and that once you&rsquo;ve had a meal in our dining hall,
      you wouldn&rsquo;t want to do it any other way.
      == #{link_to 'Chants', '/tradition/songs.html'}, skits, throwing giant pancakes
      through the rafters; we can list the ridiculous things we do, but it just doesn&rsquo;t
      do it justice! To feel the spirit of William Lawrence, you just have to be here.
      So come to the knoll this summer: you couldn&rsquo;t regret it if you tried.

.grid_6
  .shadow.rounded.video
    %iframe{ :src => 'http://player.vimeo.com/video/31654000?title=0&byline=0&portrait=0', width: 456, height: 324, frameborder: 0, webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true }
