---
title: "Summer Camp Spirit: Songs, Chants and Skits | William Lawrence Camp for Boys"
description: "At William Lawrence Camp our Camp Spirit is a major part of the experience of a summer at William Lawrence Camp.  We have chants, skits, and do a variety of ridiculous things to make meal times fun and interesting."
---

.row
  .col-sm-6
    .liner.shadow.rounded
      %h2 Camp Spirit

      %p
        We get loud. We get crazy. We guarantee a meal in our
        == #{link_to 'Dining Hall', '/tour/dining-hall.html'} is like nothing
        you&rsquo;ve ever experienced before and that once you&rsquo;ve had a meal in our dining hall,
        you wouldn&rsquo;t want to do it any other way.
        == #{link_to 'Chants', '/tradition/songs.html'}, skits, throwing giant pancakes
        through the rafters; we can list the ridiculous things we do, but it just doesn&rsquo;t
        do it justice! To feel the spirit of William Lawrence, you just have to be here.
        So come to the knoll this summer: you couldn&rsquo;t regret it if you tried.

  .col-sm-6
    .shadow.rounded.embed-responsive.embed-responsive.embed-responsive-16by9.video= vimeo 31654000, 6
