---
title: "Overnight Summer Camp for Boys Organizes Evening Programs"
description: "A William Lawrence Camp, every evening, to end the day, our camp does either a unit based or camp wide evening program, or EP.  They range from classics like capture the flag to games exclusive to our boys overnight camp like battle for the tower of Ganunn."
---

.grid_12
  .liner.shadow.rounded
    %h2 Evening Program

    %p
      Ever played capture the flag through the woods over a 250 acre camp?
      Are you itching to find out just what Mafia Night is? Or Counselor Hunt?
      Well you just have to wait until after dinner, when we gather for some
      of the most epic competitions that you could ever imagine. Actually,
      we dare you to think of something more epic than our E.P.&rsquo;s.
      And if you can, just let us know. We&rsquo;ll play it!
