.grid_6
  .liner.shadow.rounded
    %h2 Free Swim

    %p
      Do what you want. No, seriously, anything you want to: go swimming,
      shoot archery, play ping-pong, read a book on the knoll and get
      distracted and watch some ants for a while, climb the tower,
      sail a catamaran, play volleyball, or a round of Frolf.
      It&rsquo;s your time, every day, to have free reign of the camp:
      just get out there, and have fun.

.grid_6
  .shadow.rounded.video
    %iframe{ :src => 'http://player.vimeo.com/video/31654513?title=0&byline=0&portrait=0', width: 456, height: 324, frameborder: 0, webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true }
