.grid_12
  .liner.shadow.rounded
    %h2 Special Programs

    %p
      Beyond regular program we’ve got a whole arsenal of special program days
      and activities to throw at you. Everything from Gold Rush day to leaving camp
      for an evening to see a minor league baseball game. But if you think what
      is here is the limit to our programs, you are luckily mistaken!

.grid_6
  .liner.shadow.rounded.space
    %h2 Gold Rush &amp; Carnival Night

    %p
      Gold Rush is an afternoon long event that encompasses the entirety of camp
      in a frantic search for gold. The more gold a cabin finds, the more "money"
      the get to use for carnival night, a huge end of the session celebration
      ending in a display of fireworks.

  %img.shadow.rounded.space{ src: '/images/campers/special-programs/olympic-day.jpg', height: 352, width: 460 }

  .liner.shadow.rounded.space
    %h2 Apache Relay

    %p
      At the end of Olympic Day there is a fabled event called the Apache Relay.
      It is a massive, whole camp, relay race that spans every activity area from
      the waterfront to the challenge course to the athletic fields.

  %img.shadow.rounded.space{ src: '/images/campers/special-programs/fisher-cats.jpg', height: 352, width: 460 }

.grid_6
  %img.shadow.rounded.space{ src: '/images/campers/special-programs/carnival-night.jpg', height: 352, width: 460 }

  .liner.shadow.rounded.space
    %h2 Olympic Day

    %p
      Olympic Day is an entire day set aside for the colors war, called BROG.
      It has just about every game imaginable from riflery to fooz ball and
      climbing to sand castle building. Every event is worth points for your team
      and bonus points are to be had for spectacular feats or good sportsmanship!

  .shadow.rounded.video.space
    %iframe{ :src => 'http://player.vimeo.com/video/34309581?title=0&byline=0&portrait=0', width: 456, height: 324, frameborder: 0, webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true }

  .liner.shadow.rounded.space
    %h2 Fisher Cats &amp; Sea Dogs

    %p
      Each session, as a unit, you will get to visit the home field of one of the
      local minor league baseball teams. We often bring a unique (and by unique we mean loud)
      presence to the stadium with our camp spirit.
