%style
  \.time { font-weight: bold; width: 100px }
  \.event { width: 150px }
  \.description { padding-bottom: 11px }

.grid_12
  .liner.shadow.rounded
    %h2 Typical Day

    %p
      Everyone’s schedule is unique because, every week campers can chose which classes
      they receive instructions in. below is an example of such a schedule:

    %table
      %tr
        %td.time 7:00 AM
        %td.event Reveille
        %td.description
          Once I heard the bugle, I got out of bed, put on some sweatpants and a sweatshirt. Then I walked out of the cabin and headed for the dinning hall because today was my day to waiter. After I was done setting my table with my bunkmate, I played some ping- pong.
      %tr
        %td.time 7:25 AM
        %td.event Flag Raising &amp; Password
        %td.description
          When the bugal range everyone started up the knoll and lined up onthecolorsline. The CQ (charge of quarters) that day was Cop cabin. After the flag was raised, we made our way down to the chapel for the days password which was perserverance.
      %tr
        %td.time 7:35 AM
        %td.event Breakfast
        %td.description
          We all filed up to the dining hall fo rbreakfast. Thecounsliorin charge of calling tables announced the meal: “This morning we have oatmeal, scrambled eggs, bagels, hash browns, and the breakfast bar!” As the meal ended I started to help clear the table.
      %tr
        %td.time 8:30 AM
        %td.event Inspection
        %td.description
          During inspection, after I made up my own area, I swept the floor while my cabin-mates took various other jobs. Within minutes the cabin was fairly clean but it took us until the bugle the prepare it to be inspected.
      %tr
        %td.time 9:00 AM
        %td.event 1st Period
        %td.description
          My first period class was challenge course. It was high ropes day and I did the multilevel traverse, one of the harder high ropes elements, successfully.
      %tr
        %td.time 10:05 AM
        %td.event 2nd Period
        %td.description
          My second period class was woodworking during which I spent quite a bit of time sanding my CD case. And since the pieces were just cut yesterday, I had my work cut out for me.
      %tr
        %td.time 11:10 AM
        %td.event 3rd Period
        %td.description
          For all the middlers, third period is swimming. Todaywe reviewed the front crawl, my favorite stroke!
      %tr
        %td.time 12:15 PM
        %td.event Waiters' Call
        %td.description
          I quickly made my way up the waterfront trail to prepare my cabins table for lunch.
      %tr
        %td.time 12:30 PM
        %td.event Lunch
        %td.description
          Today’s lunch was the best! We had Rib sandwiches, waffle fries, carrots and pees and the salad bar. It was fantastic! And to top it all off, we had lemon cake for desert.
      %tr
        %td.time 1:30 PM
        %td.event Siesta
        %td.description
          I took the opportunity to read some more of my book and just relax a bit before the afternoon really starts.
      %tr
        %td.time 2:30 PM
        %td.event 4th Period
        %td.description
          Today I did my 4a class of street hockey. We started with some drills to work on stick handling and then some shooting drill and ending with a really fun skirmish. My team even won 3 to 2!
      %tr
        %td.time 4:00 PM
        %td.event Free Swim
        %td.description
          While I narmly am down at the archery range working on a qualification or down at the waterfront on a hot day, I decided to take it slow today and organized a game of risk with 5 of my friends.
      %tr
        %td.time 6:00 PM
        %td.event Dinner
        %td.description
          Tonight for dinner it was pizza night! The camp cook makes the best pizza ever. I ended up eating 4 pieces along with a blow of salad. Desert was chocolate pudding. After my councilor dished out the pudding the bell rang and there was a pudding eating contest between two of the kitchen staff.
      %tr
        %td.time 7:00 PM
        %td.event Flag Lowering
        %td.description
          After flow lowering we have about half an hour before evening program. I decided to pass of the volleyball game and joined in the impromptu game of Frisbee going on in the middle of the knoll.
      %tr
        %td.time 7:30 PM
        %td.event Evening Program
        %td.description
          The midllers played camp wide capture the flag. It encompassed over three acres of the camp including both the junior and middler units. I almost made it back with the other teems flag more than once but as the game went on I decided to be more of a defensive player.
      %tr
        %td.time 9:00 PM
        %td.event End of Evening Program
        %td.description
          After singing Day is Done, it was time for showers. My cabin was called second.
      %tr
        %td.time 9:30 PM
        %td.event Taps
        %td.description
          As taps rung, I shut off my flashlight for the last time that day. I got into my bed exhausted but ready to do it all again the next day!

    %p
      I would like to thank three campers who wrote a journal of their days here which was then edited into the above schedule. Thank you Matt Cobb, Geoff Erickson, and Will Silverman.