---
title: "Stay Informed"
description: "At William Lawrence Camp, we work hard to stay in contact with our alumni, campers, parents, and friends."
---

%h1.page-heading.amatic
  = current_page.data.title

.liner.rounded.shadow
  .row
    .col-xs-12
      %p
        This mailing list is specifically designed for our camp family and will include
        inside jokes, references to camp, and nostalgia. You have been warned.

      #wufoo-zdrp7hg1nj746d
        Fill out my
        = succeed "." do
          %a{:href => "https://wlcamp.wufoo.com/forms/zdrp7hg1nj746d"} online form
      :javascript
        var zdrp7hg1nj746d;(function(d, t) {
        var s = d.createElement(t), options = {
        'userName':'wlcamp',
        'formHash':'zdrp7hg1nj746d',
        'autoResize':true,
        'height':'513',
        'async':true,
        'host':'wufoo.com',
        'header':'show',
        'ssl':true};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try { zdrp7hg1nj746d = new WufooForm();zdrp7hg1nj746d.initialize(options);zdrp7hg1nj746d.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');
