.grid_12
  .liner.shadow.rounded
    %h2 Celebrating 100 Years

    %p
      &ldquo;Building character since 1913&rdquo; has always been more than just a slogan on a t-shirt.
      It is an encapsulation of the camp&rsquo;s mission: day-to-day, our goal is to ensure that
      each camper has a safe, engaging learning experience. In the long term,
      we seek to aid the development of each boy into a mature young man.
      The character that we build is the manner in which the boys who come to William Lawrence
      will present themselves for the rest of their lives. And we have been doing it for nearly 100 Years.
      To celebrate, we are going to be gathering from August 31st to September 2nd, 2013.
      The weekend long celebration will include a special Braves program, exhibits of the camp&rsquo;s past,
      and, most importantly, a chance for the past and present generations of campers and staff to connect.
    %p
      This celebration will be much more than just a look at where we came from, but a unique chance
      for all of us to get involved in our future: a future that will be as much the same as the past
      as it will be different. A future where &ldquo;building character&rdquo; starts to mean a lot more than just hole-diggin&rsquo;.
    %p
      Also, please join us for one of our 2012 reunions in the greater Boston area and the
      greater New York area on March 18th and 25th respectively. Please see our Facebook event page
      for more details about these reunions as they near.

    %h2 Centennial Lodge Capital Campaign

    %p
      For nearly one hundred years, William Lawrence Camp has provided more than traditional summer
      fun for boys: it has created the foundation for boys to become respectful, confident young men,
      who will progress to become thoughtful and responsible adults.
    %p
      The many friendships born in the process of tying flies, sailing, playing baseball,
      climbing mountains and pushing boundaries in the challenge course become bonds that stand the test of time.
      Much more than well-rounded play and physical challenges, Camp offers campers the opportunity to
      build character and values that will last a lifetime.
    %p
      Now, in preparation for the Centennial Celebration in 2013, William Lawrence Camp seeks to strengthen
      the Camp&rsquo;s endowment and add a new, much-needed, gathering space: the Centennial Lodge.
      In doing so, the Camp will lay the foundation for the next one hundred years.
    %p
      This is the Camp&rsquo;s most ambitious fund raising challenge. Through the generosity of our initial donors,
      we have already secured a significant portion of our ultimate goal of $350,000.
    %p
      The essence of the Centennial Lodge Capital Campaign, however, is not only in the dollars and cents,
      but in the construction of a space in which generations of campers will build memories.
    %p
      If you are interested in contributing to this undertaking, or learning about the donor recognition levels,
      please call 603-569-3698 or e-mail us at knoll@wlcamp.org. And thank you to all those who are helping
      to make camp and even better place for today&rsquo;s youth to grow into young men.
