---
title: "Contact William Lawrence Camp for Boys"
---

.grid_6
  .liner.shadow.rounded
    %h2 Contact Us
    %p
      At William Lawrence, we love to hear from prospective 
      campers and parents as well as alumni, friends of camp,
      or just someone that needs some honest advice about what
      camp is like.  If you have any questions feel free to use 
      the form below, email us at 
      = mail_to "knoll@wlcamp.org","knoll@wlcamp.org"
      or call us 
      during normal business hours at 603-569-3698.
.grid_6
  .liner.shadow.rounded
    %h2 Mailing Lists
    %p
      We have two mailing lists you may join depending on your relationship
      with camp.  For 
      =link_to 'Prospective Parents,','http://eepurl.com/SzVrT' 
      we have a mailing list spesificly for you.
      If you are a camper, parent, alumni, or just a friend of camp, we have a 
      = link_to 'more comprehensive mailing list', 'http://eepurl.com/bQNyH'
      that allows you to recieve knoll news, updates about
      camp and other information thats important to you.
%p 
.grid_12
  .liner.shadow.rounded
    :javascript
      var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");
      document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));

    :javascript
      var s7x3a7 = new WufooForm();
      s7x3a7.initialize({
      'userName':'wlcamp', 
      'formHash':'s7x3a7', 
      'autoResize':true,
      'height':'1117',
      'header':'show'});
      s7x3a7.display();
      