---
title: "Thank You For Enrolling | William Lawrence Camp"
---
.row
  .col-sm-6.col-xs-12
    .liner.rounded.shadow
      %h2 Thank you for submitting your enrollment application
      %p
        Thank you for submitting your son’s enrollment application. We will be in touch shortly to discuss 
        payment. Please feel free to get started on completing the necessary forms available on our website. 
        We want to make sure that you and your son have a fantastic experience with William Lawrence Camp 
        this summer so please do not hesitate to contact us with any questions you may have.
      %p Nat Crane, Executive Director
:javascript
  function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split('&');
    for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split('=');
        if (decodeURIComponent(pair[0]) == variable) {
            return decodeURIComponent(pair[1]);
        }
    }
  }

  window.dataLayer.push({ 'entryId': parseInt(getQueryVariable('wufoo')) });
