.grid_7
  .liner.shadow.rounded
    %p
      Founded in 1913, William Lawrence Camp has sought to provide a safe, wholesome environment for boys to learn about themselves, their peers, and their world. This learning starts in the cabin, as the community living atmosphere allows for the development of social and independent living skills, all under the supervision of our compassionate Cabin Leaders. The active lifestyle of camp, in tandem with cabin living, provides the ideal conditions for our campers’ self- esteem to blossom, as they are free to find how it is that they relate to nature and to their companions. These conditions are maintained by our committed staff, who consist largely of former campers—the dedication and competence of our home-grown staff is a testament to the quality of our program.
    %p
      William Lawrence Camp is a safe, supportive family in which boys can grow from young campers into compassionate leaders. We are a community focused on maturing by doing, learning and developing skills through experience, to create memories and build character that will last a lifetime. The William Lawrence Camp Family extends beyond the summers spent here—it is a committed, international community filled with strong individuals dedicated to camp, and to each other. The lessons learned here, in the presence of good friends, under the guidance of Cabin Leaders, are applicable far into the future. We like to think every boy who has seen the sun set from the chapel, experienced the energy of the dining hall, and understood the tranquility of our community leaves our care as a better human being. We seek to provide a safe, positive place for boys to grow into better citizens, leaders, and caretakers of the world that they will someday inherit.

.grid_5
  .shadow.rounded.video
    %iframe{ :src => 'http://player.vimeo.com/video/33915926?title=0&amp;byline=0&amp;portrait=0', :width => 376, :height => 286 }
