.grid_6
  .tagline.permanent-marker Do Something this Summer!

.grid_6
  .do-something
    .play
      %ul.somethings.sans-serif
        %li.canoe-a-river Canoe a River
        %li.climb-a-wall Climb a Wall
        %li.hike-a-mountain Hike a Mountain
        %li.work-with-wood Work with Wood
        %li.sing-a-song Sing a Song
        %li.yell-a-chant Yell a Chant
        %li.play-a-game Play a Game
        %li.run-a-race Run a Race
        %li.build-a-fire Build a Fire
        %li.swing-a-bat Swing a Bat
        %li.kick-a-ball Kick a Ball
        %li.shoot-some-hoops Shoot Some Hoops
        %li.fire-at-a-target Fire at a Target
        %li.jump-in-a-lake Jump in a Lake
        %li.waterski Waterski
        %li.sail-a-boat Sail a Boat
        %li.conquer-your-fear Conquer Your Fear
        %li.make-a-friend Make a Friend
        %li.defeat-an-obstacle Defeat an Obstacle
        %li.solve-a-problem Solve a Problem
        %li.earn-an-award Earn a Award
        %li.have-some-fun Have Some Fun
        %li.join-a-team Join a Team
        %li.build-something Build Something
        %li.discover-something Discover Something
        %li.win-something Win Something
    .slideshow
      %img.rounded.shadow{ src: '/images/home/canoe-a-river.jpg', alt: 'canoe-a-river' }
      %img.rounded.shadow{ src: '/images/home/climb-a-wall.jpg', alt: 'climb-a-wall' }
      %img.rounded.shadow{ src: '/images/home/hike-a-mountain.jpg', alt: 'hike-a-mountain' }
      %img.rounded.shadow{ src: '/images/home/work-with-wood.jpg', alt: 'work-with-wood' }
      %img.rounded.shadow{ src: '/images/home/sing-a-song.jpg', alt: 'sing-a-song' }
      %img.rounded.shadow{ src: '/images/home/yell-a-chant.jpg', alt: 'yell-a-chant' }
      %img.rounded.shadow{ src: '/images/home/play-a-game.jpg', alt: 'play-a-game' }
      %img.rounded.shadow{ src: '/images/home/run-a-race.jpg', alt: 'run-a-race' }
      %img.rounded.shadow{ src: '/images/home/build-a-fire.jpg', alt: 'build-a-fire' }
      %img.rounded.shadow{ src: '/images/home/swing-a-bat.jpg', alt: 'swing-a-bat' }
      %img.rounded.shadow{ src: '/images/home/kick-a-ball.jpg', alt: 'kick-a-ball' }
      %img.rounded.shadow{ src: '/images/home/shoot-some-hoops.jpg', alt: 'shoot-some-hoops' }
      %img.rounded.shadow{ src: '/images/home/fire-at-a-target.jpg', alt: 'fire-at-a-target' }
      %img.rounded.shadow{ src: '/images/home/jump-in-a-lake.jpg', alt: 'jump-in-a-lake' }
      %img.rounded.shadow{ src: '/images/home/waterski.jpg', alt: 'waterski' }
      %img.rounded.shadow{ src: '/images/home/sail-a-boat.jpg', alt: 'sail-a-boat' }
      %img.rounded.shadow{ src: '/images/home/conquer-your-fear.jpg', alt: 'conquer-your-fear' }
      %img.rounded.shadow{ src: '/images/home/make-a-friend.jpg', alt: 'make-a-friend' }
      %img.rounded.shadow{ src: '/images/home/defeat-an-obstacle.jpg', alt: 'defeat-an-obstacle' }
      %img.rounded.shadow{ src: '/images/home/solve-a-problem.jpg', alt: 'solve-a-problem' }
      %img.rounded.shadow{ src: '/images/home/earn-an-award.jpg', alt: 'earn-an-award' }
      %img.rounded.shadow{ src: '/images/home/have-some-fun.jpg', alt: 'have-some-fun' }
      %img.rounded.shadow{ src: '/images/home/join-a-team.jpg', alt: 'join-a-team' }
      %img.rounded.shadow{ src: '/images/home/build-something.jpg', alt: 'build-something' }
      %img.rounded.shadow{ src: '/images/home/discover-something.jpg', alt: 'discover-something' }
      %img.rounded.shadow{ src: '/images/home/win-something.jpg', alt: 'win-something' }
    .shadow.rounded.video

- content_for :scripts do
  :javascript
    $(document).ready(function() {
      $(".play").click(function() {
        $(".slideshow, .play").hide();
        $(".do-something .video").show().html(
          '<iframe src="http://player.vimeo.com/video/33915926?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="456" height="324" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>'
        );
      })

      $('.slideshow').cycle({ speed: 700, timeout: 4000, before: function() {
        $(".somethings li").hide();
        $(".somethings ." + this.alt).show();
      } });
    })
