---
title: "William Lawrence Camp | Traditional Boys Overnight Summer Camp in New Hampshire."
description: "William Lawrence Camp is a traditional overnight summer camp for boys in Center Tuftonboro, New Hampshire.  William Lawrence Summer Camp is a wonderful place for boys to learn and grow in a fun and exciting environment.  Boys can participate in traditional camp activities such as sports, projects, hiking and canoeing trips, sailing, waterskiing, climbing, swimming, kayaking, archery, shooting, and just having fun."
---

- content_for :premain do
  .hero-container
    .hero-content
      %a{ href: "#", data: { toggle: "modal", target: "#promo-video-modal" } }
        %img.play{ src: "images/home/play.png", height: 50, width: 50 }
      .tagline.amatic Discover Summer

.row
  .col-sm-12
    .liner.shadow.rounded
      %h2 Building Character Since 1913

      %img.supporting-picture.pull-right{ src: '/images/home/archery.jpg', alt: "boy standing in archery range" }

      %p
        William Lawrence Camp is an independent, not-for-profit organization; our entire focus is on providing an extraordinary experience for your child that will benefit him for years to come. We believe that the best way for boys to learn is through being active, especially while surrounded by natural beauty.

      %p
        Our well-balanced program offers instruction in diverse activities, such as Archery, waterskiing, and Wilderness Trips, that your child would likely not be able to participate in at home. And, as a small camp, we do not experience the bottlenecks at popular cativities that larger campes are rife with: if your child is interested in an activity, they will be able to do it.

.row
  .col-sm-12
    .benefit.amatic 3:1 Camper to staff ratio

.row
  .col-sm-4
    %img.shadow.rounded{ src: '/images/home/fishing.jpg', alt: "fishing" }
  .col-sm-4
    %img.shadow.rounded{ src: '/images/home/water-skiing.jpg', alt: "water skiing" }
  .col-sm-4
    %img.shadow.rounded{ src: '/images/home/high-ropes.jpg', alt: "high ropes" }

.row
  .col-sm-12
    .benefit.amatic Flexible, family-friendly dates

.row
  .col-sm-12
    .liner.shadow.rounded
      %h2 Our Philosophy

      %img.supporting-picture.pull-right{ src: '/images/home/campers.jpg', alt: "campers standing in a group" }

      %p
        Through a fun, balanced program, in a camp family atmosphere with positive role models, William Lawrence Camp encourages the intellectual, social, emotional, and physical development of the whole boy in a caring, nurturing, spirited, challenging, yet safe environment. While allowing a kid to be a kid, the camp seeks to enhance positive values and skill development leading to a productive and responsible adulthood.

.row
  .col-sm-6
    .liner.shadow.rounded
      %h2 Parents

      %p
        At our boys overnight summer camp, your son can learn new skills, develop self-confidence and make friends that last a lifetime.

      %div
        %a{ href: "/tour", class: "btn btn-primary" } Take a Tour
  .col-sm-6
    .liner.shadow.rounded
      %h2 Campers

      %p
        Our summer camp remains committed to providing boys with fun activities while giving them a chance to learn some new skills.

      %div
        %a{ href: "#", class: "btn btn-primary" } Explore the Fun!


#promo-video-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button{ type: "button", class: "close", data: { dismiss: "modal" }, 'aria-label' => "Close" }
          %span{ 'aria-hidden' => true }
            &times;
        %h4 Discover Summer

      .modal-body
        #promo-video-container.embed-responsive.embed-responsive-16by9
          #promo-video.embed-responsive-item

%script{ :src => 'javascripts/homepage-hero-video.js' }
