---
title: "William Lawrence Camp | Traditional Boys Overnight Summer Camp in New Hampshire."
description: "William Lawrence Camp is a traditional overnight summer camp for boys in Center Tuftonboro, New Hampshire.  William Lawrence Summer Camp is a wonderful place for boys to learn and grow in a fun and exciting environment.  Boys can participate in traditional camp activities such as sports, projects, hiking and canoeing trips, sailing, waterskiing, climbing, swimming, kayaking, archery, shooting, and just having fun."
---

.row
  .col-md-12
    .tagline.permanent-marker Do Something This Summer!
.row
  .col-md-6.col-sm-12.col-xs-12
    .liner.shadow.rounded
      %ul
        %li
          =link_to "Multiple Session Options","/parents/dates-rates.html"
          with reasonable tuition allows for family-friendly planning
        %li
          =link_to "3:1 Camper to Staff", "/parents/camper-care.html"
          ratio means your child is in a safe and nurturing setting
        %li
          =link_to "Building Character", "/parents/why-wlc.html"
          since 1913 leads to confident, independent young men
        %li
          Listen to how
          =link_to "Our Parents", "/parents/testimonials.html"
          feel about William Lawrence Camp

        %br
        =link_to "Learn More", "/contact-us/contact.html"
        about what makes us special

  .col-md-6.col-sm-12.col-xs-12
    .do-something
      .video.shadow.rounded.embed-responsive.embed-responsive.embed-responsive-16by9
        %iframe{ width: "560", height: "315", src: "https://www.youtube.com/embed/bw0tM7kj4fs", frameborder: "0", allowfullscreen: true }

%br
= partial "./shared/trifecta"


- content_for :scripts do
  :javascript
    $(document).ready(function() {
      $(".play").click(function() {
        $(".slideshow, .play").hide();
        $(".do-something .video").show().html('#{vimeo 33915926, 6}');
      })
    })
