---
title: "Thank you | William Lawrence Camp"
description: "William Lawrence Camp is a traditional overnight summer camp for boys in Center Tuftonboro, New Hampshire."
---


.grid_6
  .liner.shadow.rounded
    %h2 Thank you!
    %p
      Thank you for taking the time to contact us via our form.  Your
      information is in the hands of our trusty camp staff.  You will
      be hearing back from us very soon!

%script{:type=>"text/javascript"}
  :plain
    /* <![CDATA[ */
    var google_conversion_id = 1060652817;
    var google_conversion_language = "en_US";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "HJIBCPGRiAEQkY7h-QM";
    var google_conversion_value = 0;
    var google_remarketing_only = false;
    /* ]]> */
%script{:type => "text/javascript", :src => "//www.googleadservices.com/pagead/conversion.js"}
%noscript
  %div{:style => "display:inline;"}
  %img{:height => "1", :width => "1", :style => "border-style:none;", :alt => "", :src => "//www.googleadservices.com/pagead/conversion/1060652817/?value=0&amp;label=HJIBCPGRiAEQkY7h-QM&amp;guid=ON&amp;script=0".html_safe}